.AgentLoggedOut {
  font-weight: lighter;
  color: gray;
}
.AgentReady {
  font-weight: normal;
  color: #5cb85c;
}
.AgentOnPause {
  color : #d9534f;
}
.AgentOnCall {
  color : #a34719;
}
.AgentOnWrapup {
  color : #F7612F;
}


.AgentOnAcdCall {
  font-weight: bold;
  color : #3c3cbc;
}

.AgentStateWarning {
  font-weight: bold;
  color : black;
  background-color : red;
}


.AgentLoggedOut.badge {
  background-color: #a3a3a3;
  color: white;
}
.AgentReady.badge {
  background-color: #5cb85c;
  color: white;
}
.AgentOnPause.badge {
  background-color : #d9534f;
  color: white;
}
.AgentOnCall.badge {
  background-color : #a34719;
  color: white;
}
.AgentOnIncomingCall.badge {
  background-color : #58ACFA;
  color: white;
}
.AgentOnOutgoingCall.badge {
  background-color : #a34719;
  color: white;
}
.AgentOnWrapup.badge {
  background-color : #F7612F;
  color: white;
}
.AgentOnAcdCall.badge {
  background-color : #3c3cbc;
  color: white;
}
.AgentDialing.badge {
  background-color : #FFCC99;
  color: white;
}
.AgentRinging.badge {
  background-color : #F89406;
  color: white;
}


.NoAgent.badge {
   visibility : hidden;
}
