.totalCounter{
	background-color: transparent;
}


 /* Color Threshold */

 .thresholdColorRed {
  background-color: white;
  color: #cf2824;
}
.thresholdColorGreen {
  background-color: white;
  color: green;
}
.thresholdColorYellow {
  background-color: white;
  color: #d3831b;
}
