.AgentLoggedOut {
  font-weight: lighter;
  color: gray;
}
.AgentReady {
  font-weight: normal;
  color: green;
}
.AgentOnPause {
  color : red;
}
.AgentOnCall {
  color : red;
}
.AgentOnWrapup {
  color : red;
}
.AgentOnAcdCall {
  color : red;
}

.AgentStateWarning {
  font-weight: bold;
  color : black;
  background-color : red;
}

.AgentReady.badge {
    background-color : green ;
   margin-left:2px;
}

.AgentOnPause.badge {
   background-color : red;
   margin-left:2px;
}

.AgentOnCall.badge {
   background-color : red;
   margin-left:2px;
}

.AgentOnWrapup.badge {
   background-color : red;
   margin-left:2px;
}

.AgentOnAcdCall.badge {
    background-color: red;
    margin-left:2px;
}

.NoAgent.badge {
   visibility : hidden;
}
