body {
	color: white;
	background-color: black;
}
.panel {
	border: 0;
	background-color: transparent;

}
.panel-body {
	border: 1px solid #ccc;
}
.table-striped > tbody > tr > td,
.table-striped > tbody > tr > th {
	color: #ffffff;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	color: #ffff00;
	background-color: #1f1f1f;
}

.totalTitle {
	background-color: transparent;
}
.totalHeader{
	background-color: transparent;
}
.totalCounter{
	background-color: transparent;
}
.queueNameTitle{
	background-color: transparent;
	color: white;
	font-size:22px;
	text-align:center;
}
.AgentLoggedOut .AgentName span,
.AgentLoggedOut .PhoneNumber span {
	position: relative;
}
span.badge {
	text-align:center;
	color:white;
}
.AgentLoggedOut .AgentName span::after,
.AgentLoggedOut .PhoneNumber span::after {
	border-bottom: 3px solid #ffffff;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
}
.table-striped > tbody > tr:nth-child(odd).AgentLoggedOut > td.AgentName span::after ,
.table-striped > tbody > tr:nth-child(odd).AgentLoggedOut > td.PhoneNumber span::after {
	border-color: #ffff00;
}
.AgentStateWarning {
	color: red;
	background-color: transparent;
}
.AgentOnAcdCall {

}

.AgentRinging {

}
.panel-footer{
	background-color:black;
}

td.stats{
	text-align:right;
}
td.AgentName{
	white-space: nowrap;
}

.rep15sGood {
	background-color: #7cfe5b;
	color: white;
}
.rep15sAverage {
	background-color: #e5f458;
	color: white;
}
.rep15sBad {
	background-color: #ea5050;
	color: white;
}
.abn15sGood {
	background-color: #7cfe5b;
	color: white;
}
.abn15sAverage {
	background-color: #e5f458;
	color: white;
}
.abn15sBad {
	background-color: #ea5050;
	color: white;
}
.waitingGood {
	background-color: #7cfe5b;
	color: white;
}
.waitingBad {
	background-color: #ea5050;
	color: white;
}
.waitingTimeGood {
	background-color: #7cfe5b;
	color: white;
}
.waitingTimeBad {
	background-color: #ea5050;
	color: white;
}
.agtDispoGood {
	background-color: #7cfe5b;
	color: white;
}
.agtDispoAverage {
	background-color: #e5f458;
	color: white;
}
.agtDispoBad {
	background-color: #ea5050;
	color: white;
}