.rep15sGood{
    color:black;
    background-color:#7CFE5B;
}
.rep15sAverage{
    color:black;
    background-color:#E5F458;
}
.rep15sBad{
    color:black;
    background-color:#EA5050;
}
.abn15sGood{
    color:black;
    background-color:#7CFE5B;
}
.abn15sAverage{
    color:black;
    background-color:#E5F458;
}
.abn15sBad{
    color:black;
    background-color:#EA5050;
}
.waitingGood{
    color:black;
    background-color:#7CFE5B;
}
.waitingBad{
    color:black;
    background-color:#EA5050;
}
.waitingTimeGood{
    color:black;
    background-color:#7CFE5B;
}
.waitingTimeBad{
    color:black;
    background-color:#EA5050;
}
.agtDispoGood{
    color:black;
    background-color:#7CFE5B;
}
.agtDispoAverage{
    color:black;
    background-color:#E5F458;
}
.agtDispoBad{
    color:black;
    background-color:#EA5050;
}

/* Color Threshold */
.thresholdColorRed {
	background-color: #ea5050;
	color: black;
}
.thresholdColorBlue {
	background-color: #1e56ee;
	color: black;
}
.thresholdColorGreen {
	background-color: #1eee1e;
	color: black;
}
.thresholdColorYellow {
	background-color: #eee01e;
	color: black;
}
.thresholdColorOrange {
	background-color: #ee9b1e;
	color: black;
}
