<!DOCTYPE html>
<html ng-app='blackboard'>
  <head>
    <base target="_blank" href=".">
    <title>Contact Center Supervision</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="blackboard.styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body ng-controller="ctiLink">
    <div class="container-fluid text-center">
      <div class="col-xs-9" ng-controller="agent">
        <table class="table table-striped table-bordered">
          <tr>
            <td>AgentName</td>
            <td>state</td>
            <td>number</td>
            <td>AgentState</td>

            <td>InbAnsCalls / InbCalls</td>
            <td>InbCallTime (avg)</td>

            <td>InbPercUnansCalls</td>
            <td>LoginDateTime</td>
            <td>OutCalls</td>
            <td>OutCallTime</td>

            <td>ReadyTime WrapupTime PausedTime</td>
          </tr>
          <tr ng-repeat="agent in agents" class="agentData {{agent.state}}">
            <td class="AgentName" ><span>{{agent.name | limitTo: 12 }}</span></td>
            <td><span class="{{agent.state}} badge">{{agent.state}}</span></td>
            <td class="PhoneNumber"><span>{{agent.phoneNb}}</span></td>
            <td class="AgentState"><span class="{{getStateStyle(agent.timeInState)}}">{{agent.timeInState.toClockString()}}</span></td>

            <td class="stats InbAnsCalls"		>{{agent.stats.InbAnsCalls}}/{{agent.stats.InbCalls}}</td>
            <td class="stats InbCallTime"		>{{agent.stats.InbCallTime|secondFormater}} ({{agent.stats.InbAverCallTime|secondFormater}})</td>

            <td class="stats InbPercUnansCalls"	>{{agent.stats.InbPercUnansCalls|number:2}}</td>
            <td class="stats LoginDateTime"		>{{agent.stats.LoginDateTime|date:'H:m'}}</td>
            <td class="stats OutCalls"			>{{agent.stats.OutCalls}}</td>
            <td class="stats OutCallTime"		>{{agent.stats.OutCallTime|secondFormater}}</td>

            <td class="stats ReadyTime"			>{{agent.stats.ReadyTime|secondFormater}} / {{agent.stats.WrapupTime|secondFormater}} / {{agent.stats.PausedTime|secondFormater}}</td>
          </tr>
        </table>
      </div>

      <div class="col-xs-3"  ng-controller="panelQueueController">
        <table class="table table-bordered table-condensed" ng-controller="queueTotal">
          <tbody>
            <tr class="totalHeader">
              <td colspan="2" class="totalTitle">Waiting</td>
              <td colspan="2" class="totalCounter {{getStyle('WaitingCalls',totals.WaitingCalls)}}">{{totals.WaitingCalls}}</td>
            </tr>
            <tr class="totalHeader">
              <td class="totalTitle">Tps. Max</td>
              <td class="totalCounter {{getStyle('LongestWaitTime',maxLongestWaitTime)}}">{{maxLongestWaitTime | queueTime}}</td>
              <td class="totalTitle">Total</td>
              <td class="totalCounter {{getStyle('TotalNumberCallsEntered',totals.TotalNumberCallsEntered)}}">{{totals.TotalNumberCallsEntered}}</td>
            </tr>
            <tr class="totalHeader">
              <td class="totalTitle">%Rep &lt;15s</div>
              <td class="totalCounter {{getStyle('PercentageAnsweredBefore15',totals.GlobalPercentageAnsweredBefore15)}}">{{totals.GlobalPercentageAnsweredBefore15 | number : 2}}</td>
              <td class="totalTitle">%Aband &gt;15s</td>
              <td class="totalCounter {{getStyle('PercentageAbandonnedAfter15',totals.GlobalPercentageAbandonnedAfter15)}}">{{totals.GlobalPercentageAbandonnedAfter15 | number : 2}}</td>
            </tr>
            <tr class="totalHeader">
              <td class="totalTitle">Agts dispo.</td>
              <td class="totalCounter">{{totals.AvailableAgents}}</td>
              <td class="totalTitle">Agts conv.</td>
              <td class="totalCounter">{{totals.TalkingAgents}}</td>
            </tr>
          </tbody>
        </table>

        <table class="PanelLink{{status}} table table-bordered table-condensed" ng-repeat='queue in queues | orderBy:"displayName"'>
          <tbody>
            <tr>
              <td colspan="2" class="queueNameTitle">{{queue.displayName}}</td>
              <td class="totalTitle">Waiting</td>
              <td class="{{getStyle('WaitingCalls',queue.WaitingCalls)}}" >{{queue.WaitingCalls}}</td>
            </tr>
            <tr>
              <td class="totalTitle">Tps. Max</td>
              <td class="{{getStyle('LongestWaitTime',queue.LongestWaitTime)}}">{{queue.LongestWaitTime | queueTime}}</td>
              <td class="totalTitle">Total</td>
              <td>{{queue.TotalNumberCallsEntered}}</td>
            </tr>
            <tr>
              <td class="totalTitle">%Rep &lt;15s</div>
              <td class="{{getStyle('PercentageAnsweredBefore15',queue.PercentageAnsweredBefore15)}}">{{queue.PercentageAnsweredBefore15 | number:1}}</td>
              <td class="totalTitle">%Aband &gt;15s</td>
              <td class="{{getStyle('PercentageAbandonnedAfter15',queue.PercentageAbandonnedAfter15)}}">{{queue.PercentageAbandonnedAfter15 | number:1}}</td>
            </tr>
            <tr>
              <td class="totalTitle">Agts dispo.</td>
              <td class="{{getStyle('AvailableAgents',queue.AvailableAgents)}}">{{queue.AvailableAgents}}</td>
              <td class="totalTitle">Agts conv.</td>
              <td>{{queue.TalkingAgents}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="panel-footer">
      <span class="title"><i class="glyphicon glyphicon-leaf Link{{status}}"></i>&nbsp;{{clock}}</span>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="blackboard.bundle.js"></script>
  </body>
</html>
