<!DOCTYPE html>
<html ng-app='ccsupervision'>
<head>
    <base target="_blank" href=".">
    <title>Contact Center Supervision</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="globaloptpanel.styles.css">
    <link rel="stylesheet" type="text/css" href="ccsupervision.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<script src="cti.js"></script>
<script src="manifest.bundle.js"></script>
<script src="vendor.bundle.js"></script>
<script src="xccti.bundle.js"></script>
<script src="panels.bundle.js"></script>
<script src="globaloptpanel.bundle.js"></script>
<script src="ccsupervision.bundle.js"></script>
<div ng-controller="panelQueueController as queuesCtrl">

<div class="panel panel-primary" >
    <div class="panel-heading title">FILES D'ATTENTE
        <div style="float:right; display: inline-flex">Recherche:
            <select
                    ng-model="$rootScope.selectedQueues"
                    name="QueueSelect"
                    class="selectpicker form-control it-mblur"
                    multiple
                    data-width="350px"
                    data-live-search="true"
                    data-actions-box="true"
                    data-select-all-text="Tout selectionner"
                    data-deselect-all-text="Tout deselectionner"
                    data-none-selected-text="Selectionner..."
            >
                <option ng-repeat="item in queues | orderBy:'displayName'" data-tokens="{{item.name}}"
                        value="{{item.id}}">
                    {{item.displayName}}
                </option>

            </select>
        </div>
    </div>
    <table class="table  table-bordered table-condensed table-striped">
        <thead class="title">
        <th class="queuehead">
            <div>ID</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Nom</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Total Appels</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Appels Repondus</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Appels Abandonnes</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Appels Repondus avant 15s</div>
            <div>(en %)</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Appels Abandonne apres 15s</div>
            <div>(en %)</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Appels en Attente</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Attente Max</div>
            <div>(en sec)</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Attente Estimee</div>
            <div>(en sec)</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Agents dispo.</div>
            <div>&nbsp;</div>
        </th>
        <th class="queuehead">
            <div>Agents en comm</div>
            <div>&nbsp;</div>
        </th>
        </thead>
        <tbody>
        <tr ng-repeat="queue in getQueuesFiltered($rootScope.selectedQueues) | orderBy:'displayName'">
            <td>{{queue.id}}</td>
            <td>{{queue.displayName}}</td>
            <td>{{queue.TotalNumberCallsEntered}}</td>
            <td>{{queue.TotalNumberCallsAnswered}}</td>
            <td>{{queue.TotalNumberCallsAbandonned}}</td>
            <td>{{queue.PercentageAnsweredBefore15 | number:1}}</td>
            <td>{{queue.PercentageAbandonnedAfter15 | number:1}}</td>
            <td ng-class="getThresholdStyles('ccSupervisionWaitingCalls',queue.WaitingCalls)">{{queue.WaitingCalls}}</td>
            <td>{{queue.LongestWaitTime | queueTime}}</td>
            <td>{{queue.EWT | queueTime}}</td>
            <td>{{queue.AvailableAgents}}</td>
            <td>{{queue.TalkingAgents}}</td>
        </tr>
        </tbody>
    </table>

</div>
<div class="panel panel-primary" ng-controller="agent as agentCtrl">
    <div class="panel-heading title link-connected-{{connected}}">AGENTS
        <div style="float:right; display: inline-flex; min-width: 260px;">Recherche:
            <select
                    ng-model="agentCtrl.selectedAgents"
                    name="AgentSelect"
                    class="selectpicker form-control it-mblur"
                    multiple
                    data-width="350px"
                    data-live-search="true"
                    data-actions-box="true"
                    data-select-all-text="Tout selectionner"
                    data-deselect-all-text="Tout deselectionner"
                    data-none-selected-text="Selectionner..."
            >
                <option ng-repeat="item in getAgentsFilteredByQueues($rootScope.selectedQueues) | orderBy:'name'" data-tokens="{{item.name}}"
                        value="{{item.id}}">
                    {{item.name}}
                </option>

            </select>
        </div>
    </div>
    <div class="" style="display: flex">
        <table class="table table-bordered table-condensed table-striped" style="margin-right: 5px">
            <thead class="title">
            <th class="queuehead">
                <div>Nom</div>
                <div>&nbsp;</div>
            </th>
            <th class="queuehead">
                <div>Position Agent</div>
                <div>&nbsp;</div>
            </th>
            <th class="queuehead">
                <div>Statut</div>
                <div>&nbsp;</div>
            </th>
            <th class="queuehead">
                <div>Depuis</div>
                <div>&nbsp;</div>
            </th>
            </thead>
            <tbody>
            <tr style="height:40px" ng-repeat="agent in getLeftTable(agentCtrl.selectedAgents, $rootScope.selectedQueues)" as-sortable-item>
                <td sortable="'name'" class="{{agent.state}}">{{agent.name}}</td>
                <td sortable="'phoneNb'" class="col-md-2 {{agent.state}} center">{{agent.phoneNb}}</td>
                <td ng-if="agent.state != 'AgentOnPause'" sortable="'state'"
                    class="col-md-3 {{agent.state}} center">{{agent.state}}&nbsp;
                </td>
                <td ng-if="agent.state == 'AgentOnPause' && agent.status == ''" sortable="'state'"
                    class="col-md-3 {{agent.state}} center">{{agent.state}}&nbsp;
                </td>
                <td ng-if="agent.state == 'AgentOnPause' && agent.status != ''" sortable="'state'"
                    class="col-md-3 {{agent.state}} center">{{agent.state}}&nbsp;: {{agent.status}}
                </td>
                <td ng-if="agent.state" ng-class="getClassesForPauseAndAcdTime(agent)">{{agent.timeInState | timeInState}}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-condensed table-striped" style="margin-left: 5px">
            <thead class="title">
            <th class="queuehead">
                <div>Nom</div>
                <div>&nbsp;</div>
            </th>
            <th class="queuehead">
                <div>Position Agent</div>
                <div>&nbsp;</div>
            </th>
            <th class="queuehead">
                <div>Statut</div>
                <div>&nbsp;</div>
            </th>
            <th class="queuehead">
                <div>Depuis</div>
                <div>&nbsp;</div>
            </th>
            </thead>
            <tbody>
            <tr style="height:40px" ng-repeat="agent in getRightTable(agentCtrl.selectedAgents, $rootScope.selectedQueues)" as-sortable-item>
                <td sortable="'name'" class="{{agent.state}}">{{agent.name}}</td>
                <td sortable="'phoneNb'" class="col-md-2 {{agent.state}} center">{{agent.phoneNb}}</td>
                <td ng-if="agent.state != 'AgentOnPause'" sortable="'state'"
                    class="col-md-3 {{agent.state}} center">{{agent.state}}&nbsp;
                </td>
                <td ng-if="agent.state == 'AgentOnPause' && agent.status == ''" sortable="'state'"
                    class="col-md-3 {{agent.state}} center">{{agent.state}}&nbsp;
                </td>
                <td ng-if="agent.state == 'AgentOnPause' && agent.status != ''" sortable="'state'"
                    class="col-md-3 {{agent.state}} center">{{agent.state}}&nbsp;: {{agent.status}}
                </td>
                <td ng-if="agent.state" ng-class="getClassesForPauseAndAcdTime(agent)">{{agent.timeInState | timeInState}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
</body>
<footer class="navbar-fixed-bottom">
    <div class="panel-footer" ng-controller="ctiLink">
        <span class="title"><i class="glyphicon glyphicon-leaf Link{{status}}"></i>&nbsp;{{clock}}</span>
    </div>
</footer>
</html>