<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base target="_blank" href=".">
    <title>ChronoFlex</title>

    <link rel="stylesheet" type="text/css" href="chronoflex.styles.css">
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
  </head>

  <body ng-app='chronoflex'>
  <div class="container-fluid text-center">

    <header>
      <div class="row summary-title">
        <div class="col-md-1"></div>
        <div class="col-md-1"><img class="logo" id="logochronoflex" src="images/logochronoflex.png"></div>
        <div class="col-md-7"></div>
        <div class="col-md-2"><img class="logo" id="logoxivo" src="images/logo.png"></div>
        <div class="col-md-1"></div>

      </div>
    </header>

    <section>
      <div id="section-container">
          <div ng-controller="panelQueueController">

            <div class="col-lg-5 bloc-indicators" ng-class="[{blinkwaitingcalls: atLeastOneWaitingCall()}]" id="bloc1-waitingcalls">
                <div class="data-nb col-sm-6 totalCounter {{getStyle('WaitingCalls',totals.WaitingCalls)}}"> {{stats.sum.WaitingCalls}} </div>
                <h1 class="col-sm-6">Appel(s) en attente</h1>
              </div>
            <div class="col-lg-1"></div>

            <div class="col-lg-5 bloc-indicators" id="bloc2-waitingtime">
              <div class="data-nb col-sm-6"><span>{{stats.max.LongestWaitTime | secondFormater}}</span></div>
              <h1 class="col-sm-6">Temps d'attente</h1>
            </div>
            <div class="col-lg-1"></div>
          </div>
      </div>

          <div>
            <div ng-controller="queueTotal" class="col-lg-5 bloc-indicators {{getStyle('AvailableAgents',totals.AvailableAgents)}}">
              <div class="data-nb col-sm-6">{{totals.AvailableAgents}}</div>
              <h1 class="col-sm-6">Agent(s) disponible(s)</h1>
            </div>
            <div class="col-lg-1"></div>

            <div class="col-lg-5 bloc-indicators" id="bloc4-callbacks" ng-controller="CallbacksTotalController" ng-class="[{blinkcallbacks: atLeastOneCallback}]">
                <div class="data-nb col-sm-6"><span>{{callbacksCount}}</span></div>
                <h1 class="col-sm-6">Rappel(s) à traiter</h1>
            </div>
            <div class="col-lg-1"></div>
          </div>

    </section>


    <Footer class="navbar-fixed-bottom">
      <div class="panel-footer" ng-controller="ctiLink">
        <span class="title"><i class="glyphicon glyphicon-leaf Link{{status}}"></i>&nbsp;{{clock}}</span>
      </div>
    </Footer>
  </div>



  <script src="cti.js"></script>
  <script src="callback.js"></script>
  <script src="manifest.bundle.js"></script>
  <script src="vendor.bundle.js"></script>
  <script src="xccti.bundle.js"></script>
  <script src="panels.bundle.js"></script>
  <script src="chronoflex.bundle.js"></script>

  </body>

  </html>