<!DOCTYPE html>
<html ng-app='edv' ng-cloak>
<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">
    <title>EDV</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="edv.styles.css">
  </head>
  <body ng-controller="ctiLink">
    <div ng-hide="connected" class="container loading">
      <div class="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
      </div>
    </div>
    <div ng-show="connected" class="container-fluid text-center"ng-controller="queueGroupController">
        <div>
            <div class="row summary-title">
              <div class="col-md-1"><img class="logo" src="images/logo.png"></div>
              <div class="col-md-3"></div>
              <div class="col-md-4 mainTitle">Supervision Téléphonique</div>
              <div class="col-md-2 col-md-offset-2 clock-display">{{currentDay}} {{clock}}</div>
            </div>
            <div class="title-table">
              Statistiques cumulées journée en cours général
            </div>
            <div class="row counter-panel border-{{panelColor}}-color ">
                <table  class="table  " width="100%" height="100%" cellspacing="0" cellpadding="0" border="2px">
                      <thead class=" background-{{panelColor}}-color">
                        <th>Nom file d'attente</th>
                        <th>Nombre d'appels entrants</th>
                        <th>Nombre d'appels répondus</th>
                        <th>Nombre d'appels Non Répondus</th>
                        <th>Nombre d'appels en période fermée</th>
                        <th>Taux de Réponse Général</th>
                        <th>Nombre d'appels en attente</th>
                        <th>Temps d'attente estimée</th>
                      </thead>
                      <tr style="height:50px;" ng-repeat='queue in groups[0].queues | orderBy:"displayName"'>
                        <td >{{queue.displayName}}</td>
                        <td >{{queue.TotalNumberCallsEntered ||0}}</td>
                        <td >{{queue.TotalNumberCallsAnswered ||0}}</td>
                        <td >{{queue.TotalNumberCallsAbandonned || 0 }}</td>
                        <td >{{queue.TotalNumberCallsClosed || 0 }}</td>
                        <td >{{ (queue.TotalNumberCallsAnswered/queue.TotalNumberCallsEntered)*100  ||0 |number :0 }}%</td>
                     
                        <td >{{queue.WaitingCalls}}</td>
                        <td >{{queue.EWT||0 |secondFormater}}</td>
                      </tr>
              </table>
            </div>
            <div class="row separator"></div>
            <div class="title-table">
                Statistiques cumulées journée en cours/agent
            </div>
            <div class="row counter-panel border-{{panelColor}}-color ">
                <table  class="table " width="100%" height="100%" cellspacing="0" cellpadding="0" border="2px" >
                      <thead width="100%" class="background-{{panelColor}}-color">
                        <th>Nom Agents</th>
                        <th>Statut</th>
                        <th>Nombre d'appels entrants</th>
                        <th>Nombre d'appels répondus</th>
                        <th>Nombre d'appels non répondus</th>
                        <th>Taux de réponse</th>
                        <th>Temps de conversation moyen</th>
                        <th>Temps disponible</th>
                        <th>Temps de pause</th>
                        <th>Nombre d'appels sortants</th>
                      </thead>
                      <tr style="height:50px;" ng-repeat='agent in agentGroups[0].agents | orderBy:"agent.name"'>
                              <td class="">{{agent.name | limitTo: 20 }}</td>
                              <td class="{{agent.state}} badge">{{agent.state}}</td>
                              <td class="agent-nb-of-calls">{{agent.stats.InbAcdCalls ||0}}</td>
                              <td class="agent-nb-of-calls">{{agent.stats.InbAnsAcdCalls ||0}}</td>
                              <td class="agent-nb-of-calls">{{agent.stats.InbUnansAcdCalls ||0}}</td>
                              <td class="agent-nb-of-calls">{{(agent.stats.InbAnsAcdCalls/agent.stats.InbAcdCalls)*100 ||0 | number:0 }}%</td>
                              <td class="">{{agent.stats.InbAverAcdCallTime ||0 |secondFormater}}</td>
                              <td class="">{{agent.stats.ReadyTime ||0 |secondFormater }}</td>
                              <td class="">{{agent.stats.PausedTime ||0 |secondFormater }}</td>
                              <td class="agent-nb-of-calls">{{agent.stats.OutCalls}}</td>
                      </tr>
                </table>
            </div>
            <div class="row separator"></div>
            <div class="row counter-panel  ">
               <table  class="table " width="100%" height="100%" cellspacing="0" cellpadding="0" ng-controller="agent"  >
                      <tr>
                       <td width="50%">
                          <div class="border-{{panelColor}}-color">
                            <div class="chartTitle" >Etat Actuel des Agents </div><br/>
                              <canvas id="doughnut" class="chart chart-pie"
                              chart-data="agentGroups[0].charts.chartAgentState.data" chart-labels="agentGroups[0].charts.chartAgentState.labels" chart-options="agentGroups[0].charts.chartAgentState.options" chart-colors="agentGroups[0].charts.chartAgentState.colors">
                              </canvas>
                            </div>
                        </td>
                        <td width="50%">
                          <div class="border-{{panelColor}}-color" >
                            <div class="chartTitle" >Temps de conversation cumulé</div><br/>
                           
                              <canvas id="doughnut" class="chart chart-pie"
                              chart-data="agentGroupsInMin[0].charts.chartCallTime.data" chart-labels="agentGroups[0].charts.chartCallTime.labels" chart-options="agentGroups[0].charts.chartCallTime.options" chart-colors="agentGroups[0].charts.chartCallTime.colors">
                              </canvas>
                          </div>
                        </td>
                      </tr>
                </table>
            </div>
          </div>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="edv.bundle.js"></script>
 </body>
</html>