<!DOCTYPE html>
<html ng-app='hbt76' ng-cloak>
<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">
    <title>Habitat 76</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="hbt76.styles.css">
  </head>
  <body ng-controller="ctiLink">
    <div ng-hide="connected" class="container loading">
      <div class="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
      </div>
    </div>
    <div ng-show="connected" class="container-fluid text-center" ng-controller="queueGroupController">
        <div>
            <div class="row summary-title">
              <div class="col-md-1"><img class="logo" src="images/logo.png"></div>
              <div class="col-md-3"></div>
              <div class="col-md-4 mainTitle">{{groups[0].name}}</div>
              <div class="col-md-2 col-md-offset-2 clock-display">{{currentDay}} {{clock}}</div>
            </div>
            <div class="row counter-panel border-orange-color background-orange-color">
              <table class="table all-queues">
                <tr>
                  <td class="queue-recap">
                    <div class="counter-value  border-orange-color">{{groups[0].totals.sum.TotalNumberCallsEntered}}</div>
                  </td>
                  <td class="queue-recap">
                    <div class="counter-value  border-orange-color">{{groups[0].totals.sum.TotalNumberCallsAnswered | number : 0}}</div>
                  </td>
                  <td class="queue-recap">
                    <div class="counter-value  border-orange-color">{{groups[0].totals.sum.TotalNumberCallsAbandonned | number : 0}}</div>
                  </td>
                </tr>
                  <td class="queue-recap"><div class="counter-title">Appels Présentés</div></td>
                  <td class="queue-recap"><div class="counter-title">Appels Traités</div></td>
                  <td class="queue-recap"><div class="counter-title">Appels Abandonnés</div></td>
                </tr>
              </table>
            </div>
            <div class="row separator">
            </div>
            <div class="row counter-panel  border-pink-color  background-pink-color">
                <table class="table all-queues">
                  <tr>
                      <td class="queue-counter">
                        <div class="counter-value  border-pink-color {{getStyle('WaitingCalls',groups[0].totals.sum.WaitingCalls)}}">{{groups[0].totals.sum.WaitingCalls}}</div>
                      </td>
                      <td class="queue-counter">
                        <div class="counter-value  border-pink-color {{getStyle('PercentageAnswered',groups[0].totals.global.PercentageAnswered)}}">{{groups[0].totals.global.PercentageAnswered | number : 0}}%</div>
                      </td>
                      <td class="queue-counter">
                        <div class="counter-value  border-pink-color">{{agentGroups[0].totals.sum.AgentsOnCall}}</div>
                      </td>
                      <td class="queue-counter">
                        <div class="counter-value  border-pink-color">{{agentGroups[0].totals.sum.AgentsLoggedOn}}</div>
                      </td>
                      <td class="queue-counter">
                        <div class="counter-value  border-pink-color {{getStyle('AgentOnPause',agentGroups[0].totals.sum.AgentsOnPauseWithCause['Personnelle'])}}">{{agentGroups[0].totals.sum.AgentsOnPauseWithCause["Personnelle"] == null?0:agentGroups[0].totals.sum.AgentsOnPauseWithCause["Personnelle"] }}</div>
                      </td>
                  </tr>
                  <td class="queue-counter"><div class="counter-title">Appels en attente</div></td>
                  <td class="queue-counter"><div class="counter-title">Qualité de Service</div></td>
                  <td class="queue-counter"><div class="counter-title">Conseillers en conversation</div></td>
                  <td class="queue-counter"><div class="counter-title">Conseillers logués</div></td>
                  <td class="queue-counter"><div class="counter-title">Conseillers en Pause Personnel</div></td>
                  </tr>
                </table>
              </div>
            <div class="row separator">
        </div>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="hbt76.bundle.js"></script>
 </body>
</html>
