<!DOCTYPE html>
<html ng-app="itelis" ng-cloak>

<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">

  <title>Itelis</title>

  <link rel="stylesheet" type="text/css" href="vendor.styles.css">
  <link rel="stylesheet" type="text/css" href="itelis.styles.css">
</head>


<body class ="body-itelis">

  <header></header>

  <div ng-controller="queueGroupController">

    <table class="table table-bordered table-panel-itelis table-queues" ng-controller="queueTotal">
      <thead>
        <tr class="itelis-titles">
          <th scope="col" class="text-itelis">Appels / Domaines</th>
          <th scope="col" class="text-itelis">Appels présentés</th>
          <th scope="col" class="text-itelis">Appels répondus</th>
          <th scope="col" class="text-itelis">Appels perdus</th>
          <th scope="col" class="text-itelis">Nombre d'appels en attente</th>
          <th scope="col" class="text-itelis">Temps d'attente</th>
        </tr>
      </thead>

      <tbody class="text-itelis content-itelis">
        <tr ng-repeat='group in groups | orderBy:"displayName"'>
          <th scope="row" class="group-itelis">{{group.name}}</th>
          <td class="content-itelis">{{group.totals.sum.TotalNumberCallsEntered}}</td>
          <td class="content-itelis">{{group.totals.sum.TotalNumberCallsAnswered || 0}}</td>
          <td class="content-itelis">{{group.totals.sum.TotalNumberCallsTimeout + group.totals.sum.TotalNumberCallsAbandonned | number : 0}}</td>
          <td class="content-itelis" ng-class="{{group.totals.sum.WaitingCalls}}>0?'{{getStyle('WaitingCalls',group.totals.sum.WaitingCalls)}}':''">{{group.totals.sum.WaitingCalls }}</td>
          <td class="content-itelis" ng-class="{{group.totals.sum.WaitingCalls}}>0?'{{getStyle('LongestWaitTime',group.totals.max.LongestWaitTime)}}':''">{{group.totals.max.LongestWaitTime | queueTime}} </td>
        </tr>
      </tbody>
    </table>
  </div>



  <div ng-controller="queueGroupController">
    <table class="table table-bordered table-panel-itelis table-agents" ng-controller="queueTotal">
        <thead>
          <tr class="itelis-titles" ng-controller="queueTotal">
            <th scope="col" class="text-itelis">Agents / Domaines</th>
            <th scope="col" class="text-itelis">Connectés</th>
            <th scope="col" class="text-itelis">Disponibles</th>
            <th scope="col" class="text-itelis">En back office</th>
            <th scope="col" class="text-itelis">En pause personnelle</th>
          </tr>
        </thead>
        <tbody class="text-itelis content-itelis">
          <tr ng-repeat='group in agentGroups | orderBy:"displayName"'>
            <th scope="row" class="group-itelis">{{group.name}}</th>
            <td class="content-itelis">{{group.totals.sum.AgentsLoggedOn}}</td>
            <td class="content-itelis {{getStyle('AvailableAgents',group.totals.sum.AgentsAvailable)}}">{{group.totals.sum.AgentsAvailable}}</td>
            <td class="content-itelis">{{group.totals.sum.AgentsOnPauseWithCause["Backoffice"] || 0}}</td>
            <td class="content-itelis">{{(group.totals.sum.AgentsOnPauseWithCause["Pause"] || 0)}}</td>
          </tr>
        </tbody>
      </table>
    </div>

<Footer class="navbar-fixed-bottom">
    <div class="panel-footer" ng-controller="ctiLink">
      <span class="hour"><i class="glyphicon glyphicon-leaf Link{{status}}"></i>&nbsp;{{clock}}</span>
    </div>
    <div>
      <img class="logo" id="logoitelis" src="images/Itelis.png">
    </div>
</Footer>



  <script src="cti.js"></script>
  <script src="manifest.bundle.js"></script>
  <script src="vendor.bundle.js"></script>
  <script src="xccti.bundle.js"></script>
  <script src="panels.bundle.js"></script>
  <script src="itelis.bundle.js"></script>
</body>

</html>
