<!DOCTYPE html>
<html ng-app='lfm' ng-cloak>
<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">
  <title>LFM Contact Center Supervision</title>
  <link rel="stylesheet" type="text/css" href="vendor.styles.css">
  <link rel="stylesheet" type="text/css" href="lfm.styles.css">
  </head>
  <body ng-controller="ctiLink">
    <div ng-hide="connected" class="container loading">
      <div clas="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
      </div>
    </div>
    <div ng-show="connected" class="container-fluid text-center mainlfm" ng-controller="panelQueueController">
      <div class="row" >
        <div class="col-md-1"><img class="lfmLogo" src="images/logo.png"></div>
        <div class="col-md-3"></div>
        <div class="col-md-4">APPELS</div>
        <div class="col-md-2 col-md-offset-2">{{currentDay}}</br>{{clock}}</div>
      </div>
      <div class="row" ng-controller="queueTotal">
        <div class="col-md-6 col-md-offset-3 totalCalls">
          <div class="row totalVOffset"><div class="col-md-12">&nbsp;</div></div>
          <div class="row">
          <div class="col-md-4 totalCounterCol"><div class="totalCounter">{{totals.TotalNumberCallsEntered | number : 0}}</div></div>
          <div class="col-md-4 totalCounterCol"><div class="totalCounter">{{totals.GlobalPercentageAnswered | number : 0}}%</div></div>
          <div class="col-md-4 totalCounterCol"><div class="totalCounter">{{totals.GlobalPercentageAnsweredLastHour | number : 0}}%</div></div>
          </div>
        <div class="row totalVOffset">&nbsp;</div>
          <div class="row">
          <div class="col-md-4 totalLabel">TOTAL</br>des appels</div>
          <div class="col-md-4 totalLabel">Répondu</br>par jour</div>
          <div class="col-md-4 totalLabel">Répondu</br>dernière heure</div>
          </div>
        <div class="row totalVOffset">&nbsp;</div>
        </div>
        <div class="col-md-1 bravo" ng-show="bravo()">
        <div class="smiley row"><img src="images/lfmsmile.png"></div>
        <div class="row bravo">Bravo !</div>
        <div class="row totalVOffset">&nbsp;</div>
        </div>
      </div>
      <div class="row totalVOffset">
        <div class="col-md-1 col-md-offset-6 colLink">
        <div class="boxLink">&nbsp</div>
        </div>
      </div>
      <div class="row" ng-controller="queueTotal">
        <div class="col-md-8 col-md-offset-2 totalQueueCalls">
          <div class="row totalVOffset"><div class="col-md-12">&nbsp;</div>
          </div>
          <div class="row">
            <div class="col-md-3 totalQueueCol"><div class="totalQueue">{{totals.TotalNumberCallsTimeout}}</div></div>
            <div class="col-md-3 totalQueueCol"><div class="totalQueue">{{totals.TotalNumberCallsAbandonned}}</div></div>
            <div class="col-md-3 totalQueueCol"><div class="totalQueue">{{totals.WaitingCalls}}</div></div>
            <div class="col-md-3 totalQueueCol"><div class="totalQueue">{{totals.TotalNumberCallsAnswered}}</div></div>
          </div>
          <div class="row">
            <div class="col-md-3 totalQueueLabel">Transféré</br>sur CC</div>
            <div class="col-md-3 totalQueueLabel">Abandons</div>
            <div class="col-md-3 totalQueueLabel">En attente</div>
            <div class="col-md-3 totalQueueLabel">Répondu</br>aujourd'hui</div>
          </div>
          <div class="row totalVOffset"><div class="col-md-12">&nbsp;</div>
          </div>
        </div>
        <div class="row totalVOffset"><div class="col-md-12">&nbsp;</div>
          <div class="row" ng-controller="agent">
            <div class="col-md-10 col-md-offset-1">
              <table class="table agentsTable table-condensed">
                <tr ng-repeat="agents in agentsInCol">
                <td ng-repeat="agent in agents" class="agentData">
                  <table class="table agentDetails ">
                  <tr class="agentData">
                    <td class="AgentName" ><span class="{{agent.state}} badge">&nbsp;</span> {{agent.name | limitTo: 14 }} </td>
                    <td class="AgentState">{{agent.timeInState.toClockString()}}</td>
                  </tr>
                  </table>
                </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row totalVOffset legend">
          <div class="col-md-1 col-md-offset-1 BckAgentReady">&nbsp;</div><div class="col-md-1">disponible</div>
          <div class="col-md-1 col-md-offset-1 BckAgentOnPause">&nbsp;</div><div class="col-md-1">non disponible</div>
          <div class="col-md-1 col-md-offset-1 BckAgentLoggedOff">&nbsp;</div><div class="col-md-1">déconnecté</div>
          <div class="col-md-1"><i class="glyphicon glyphicon-leaf Link{{status}}"></i>&nbsp;</div>
        </div>
      </div>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="lfm.bundle.js"></script>
  </body>
</html>
