<!DOCTYPE html>
<html ng-app='listqueue' ng-cloak>
<head lang="en">
    <base target="_blank" href=".">
    <meta charset="UTF-8">
    <title>List of Queues</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="listqueue.styles.css">
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="listqueue.bundle.js"></script>
</head>
<body ng-controller="ctiLink">
<div ng-hide="connected" class="container loading">
    <div clas="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
    </div>
</div>
<div ng-show="connected" class="container-fluid text-center mainlfm" ng-controller="ListQueueController as listqueueController">
    <div class="row">
        <div class="totalVOffset"><div class="col-md-12">&nbsp;</div>
            <div class="col-md-6">
                <table class="table Table table-condensed">
                    <tr class="TableTitles">
                        <th>Nom de file d'attente</th>
                        <th>Id file d'attente</th>
                        <th>Numéro de file d'attente</th>
                    </tr>
                    <tr ng-repeat="queue in listqueueController.queues">
                        <td ng-class-even="'even'" class="" >{{queue.displayName | limitTo: 14 }} </td>
                        <td ng-class-even="'even'" class="" >{{queue.id }} </td>
                        <td ng-class-even="'even'" class="" >{{queue.number }} </td>
                     </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>