<!DOCTYPE html>
<html ng-app='globaloptpanel' ng-cloak>
  <head>
    <base target="_blank" href=".">
    <title>Contact Center Supervision</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="globaloptpanel.styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="ctiLink">
    <div class="container-fluid text-center" ng-controller="panelQueueController">
      <div class="panel panel-primary  PanelLink{{status}}">
        <table class="PanelLink{{status}} table table-bordered table-condensed" ng-controller="queueTotal">
          <thead >
            <!-- class="title queuehead" -->
            <th >
            <th class="totalHeader">
              <div class="totalTitle">Total</div>
              <div class="totalCounter {{getStyle('TotalNumberCallsEntered',totals.TotalNumberCallsEntered)}}">{{totals.TotalNumberCallsEntered}}</div>
            </th>
            <th class="totalHeader">
              <div class="totalTitle">%Rep &lt;15s</div>
              <div class="totalCounter {{getStyle('PercentageAnsweredBefore15',totals.GlobalPercentageAnsweredBefore15)}}">{{totals.GlobalPercentageAnsweredBefore15 | number : 2}}</div>
            </th>
            <th class="totalHeader">
              <div class="totalTitle">%Aband &gt;15s</div>
              <div class="totalCounter {{getStyle('PercentageAbandonnedAfter15',totals.GlobalPercentageAbandonnedAfter15)}}">{{totals.GlobalPercentageAbandonnedAfter15 | number : 2}}</div>
            </th>
            <th class="totalHeader">
              <div class="totalTitle">Waiting</div>
              <div class="totalCounter {{getStyle('WaitingCalls',totals.WaitingCalls)}}">{{totals.WaitingCalls}}</div>
            </th>
            <th class="totalHeader">
              <div class="totalTitle">Tps. Max</div>
              <div class="totalCounter {{getStyle('LongestWaitTime',maxLongestWaitTime)}}">{{maxLongestWaitTime | queueTime}}</div>
            </th>
            <th class="totalHeader">
              <div class="totalTitle">Agts dispo.</div>
              <div class="totalCounter">{{totals.AvailableAgents}}</div>
            </th>
            <th class="totalHeader">
              <div class="totalTitle">Agts conv.</div>
              <div class="totalCounter">{{totals.TalkingAgents}}</div>
            </th>
          </thead>
          <tbody>
            <tr ng-repeat='queue in queues | orderBy:"displayName"'>
              <td class="queueNameTitle">{{queue.displayName}}</td>
              <td>{{queue.TotalNumberCallsEntered}}</td>
              <td class="{{getStyle('PercentageAnsweredBefore15',queue.PercentageAnsweredBefore15)}}">{{queue.PercentageAnsweredBefore15 | number:1}}</td>
              <td class="{{getStyle('PercentageAbandonnedAfter15',queue.PercentageAbandonnedAfter15)}}">{{queue.PercentageAbandonnedAfter15 | number:1}}</td>
              <td class="{{getStyle('WaitingCalls',queue.WaitingCalls)}}" >{{queue.WaitingCalls}}</td>
              <td class="{{getStyle('LongestWaitTime',queue.LongestWaitTime)}}">{{queue.LongestWaitTime | queueTime}}</td>
              <td class="{{getStyle('AvailableAgents',queue.AvailableAgents)}}">{{queue.AvailableAgents}}</td>
              <td>{{queue.TalkingAgents}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-primary" ng-controller="agent">
        <div class="panel-body">
          <div class="row show-grid">
            <table class="table">
            <tr ng-repeat="agentsList in agentsInCol">
              <td ng-repeat="agent in agentsList" class="agentData {{agent.state}}">
              <table>
                <tr>
                <td class="AgentName" >{{agent.name | limitTo: 12 }} </td>
                <td class="PhoneNumber" >{{agent.phoneNb}}</td>
                <td class="AgentState {{getStateStyle(agent.timeInState)}}">{{agent.timeInState.toClockString()}}</td>
                </tr>
              </table>
              <!--{{agent.name | limitTo: 12 }} {{agent.phoneNb}} <span class="{{getStateStyle(agent.timeInState)}}"> {{agent.timeInState.toClockString()}} </span>-->
              </td>
            </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <span class="title"><i class="glyphicon glyphicon-leaf Link{{status}}"></i>&nbsp;{{clock}}</span>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="globaloptpanel.bundle.js"></script>
  </body>
</html>
