<!DOCTYPE html>
<html ng-app='perqueuelogo' ng-cloak ng-controller="ctiLink">
<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">
    <title>{{titlePage || 'Per queue logo'}}</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="perqueuelogo.styles.css">
  </head>
  <body >
    <div ng-hide="connected" class="container loading">
      <div class="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
      </div>
    </div>
    <div ng-show="connected" class="container-fluid text-center" ng-controller="queueGroupController">
        <div>
            <div class="row summary-title">
              <div class="col-md-1"><img class="logo" src="images/logo.png"></div>
              <div class="col-md-3"></div>
              <div class="col-md-4 mainTitle">{{groups[0].name}}</div>
              <div class="col-md-2 col-md-offset-2 clock-display">{{currentDay}} {{clock}}</div>
            </div>
            <div class="row counter-panel border-{{panelColor}}-color background-{{panelColor}}-color">
              <table class="table all-queues">
                <tr>
                  <td class="queue-recap">
                    <div class="counter-value  border-{{panelColor}}-color">{{groups[0].totals.sum.TotalNumberCallsEntered}}</div>
                  </td>
                  <td class="queue-recap">
                    <div class="counter-value  border-{{panelColor}}-color">{{groups[0].totals.global.PercentageAnswered | number : 0}}%</div>
                  </td>
                  <td class="queue-recap">
                    <div class="counter-value  border-{{panelColor}}-color">{{groups[0].totals.global.PercentageAbandonned | number : 0}}%</div>
                  </td>
                </tr>
                  <td class="queue-recap"><div class="counter-title">Appels reçus</div></td>
                  <td class="queue-recap"><div class="counter-title">Appels répondus</div></td>
                  <td class="queue-recap"><div class="counter-title">Appels abandonnés</div></td>
                </tr>
              </table>
            </div>
            <div class="row separator">
                <div class="border-{{panelColor}}-color sep-link"></div>
            </div>
            <div class="row counter-panel  border-{{panelColor}}-color  background-{{panelColor}}-color">
                <table class="table all-queues">
                  <tr>
                      <td class="queue-counter">
                        <div class="counter-value  border-{{panelColor}}-color">{{groups[0].totals.sum.WaitingCalls}}</div>
                      </td>
                      <td class="queue-counter">
                        <div class="counter-value  border-{{panelColor}}-color">{{groups[0].totals.max.LongestWaitTime | queueTime}}</div>
                      </td>
                      <td class="queue-counter">
                        <div class="counter-value  border-{{panelColor}}-color">{{agentGroups[0].totals.sum.AgentsOnCall}}</div>
                      </td>
                      <td class="queue-counter">
                        <div class="counter-value  border-{{panelColor}}-color">{{agentGroups[0].totals.sum.AgentsLoggedOn}}</div>
                      </td>
                      <td class="queue-counter">
                        <div class="counter-value  border-{{panelColor}}-color">{{agentGroups[0].totals.sum.AgentsAvailable}}</div>
                      </td>
                  </tr>
                  <td class="queue-counter"><div class="counter-title">Appels en attente</div></td>
                  <td class="queue-counter"><div class="counter-title">Plus long temps d'attente</div></td>
                  <td class="queue-counter"><div class="counter-title">Conseillers en conversation</div></td>
                  <td class="queue-counter"><div class="counter-title">Conseillers logués</div></td>
                  <td class="queue-counter"><div class="counter-title">Conseillers disponibles</div></td>
                  </tr>
                </table>
              </div>
            <div class="row separator">
          <div class="sep-link border-{{panelColor}}-color "></div>
        </div>
            <div class="row agent-panel  border-{{panelColor}}-color"  ng-controller="agent">
              <table class="table agents  background-{{panelColor}}-color">
                <tr class="agent-detail">
                <td>
                    <div class="row">
                      <div class="col-md-6"  ng-repeat="agent in agentGroups[0].agents">
                        <table class="table">
                          <tr>
                            <td class="agent-name">{{agent.name | limitTo: 20 }}</td>
                            <td class="sep"> : </td>
                            <td class="agent-time">{{agent.timeInState.toClockString()}}</td>
                            <td class="agent-state" translate>{{agent.state}}</td>
                            <td class="agent-nb-of-calls">e : {{agent.stats.InbCalls}}</td>
                            <td class="agent-nb-of-calls">s : {{agent.stats.OutCalls}}</td>
                          </tr>
                        </table>
                      </div
                    </div>
                  </div>
                </td>
                </tr>
              </table>
            </div>
          </div>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="perqueuelogo.bundle.js"></script>
 </body>
</html>
