<!DOCTYPE html>
<html ng-app='qma' ng-cloak>
<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">
  <title>{{groupsTitle}}</title>
  <link rel="stylesheet" type="text/css" href="vendor.styles.css">
  <link rel="stylesheet" type="text/css" href="qma.styles.css">
  </head>
  <body ng-controller="ctiLink">
    <div ng-hide="connected" class="container loading">
      <div clas="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
      </div>
    </div>
    <div ng-show="connected" class="container-fluid text-center mainlfm" ng-controller="queueGroupController">
      <div class="row" >
        <div class="col-md-1" ><img class="lfmLogo" src="images/logo-{{groups[0].name}}.png"></div>
        <div class="col-md-3"></div>
        <div class="col-md-4">{{groupsTitle}}</div>
        <div class="col-md-2 col-md-offset-2">{{currentDay}}</br>{{clock}}</div>
      </div>
      <div class="row" ng-controller="queueGroupController">
        <div class="col-md-6 col-md-offset-3 totalCalls">
          <div class="row totalVOffset"><div class="col-md-12">&nbsp;</div></div>
          <div class="row">
          <div class="col-md-4 totalCounterCol"><div class="totalCounter">{{groups[0].totals.sum.TotalNumberCallsEntered | number : 0}}</div></div>
          <div class="col-md-4 totalCounterCol"><div class="totalCounter">{{agentGroups[0].totals.sum.OutgoingCalls | number : 0}}</div></div>
          <div class="col-md-4 totalCounterCol"><div class="totalCounter  {{getStyle('PercentageAnswered',((groups[0].totals.sum.TotalNumberCallsAnswered + groups[0].totals.sum.TotalNumberCallsTimeout) / groups[0].totals.sum.TotalNumberCallsEntered) *100)}}">{{((groups[0].totals.sum.TotalNumberCallsAnswered + groups[0].totals.sum.TotalNumberCallsTimeout) / groups[0].totals.sum.TotalNumberCallsEntered) *100 | number:0}}%</div></div>
          </div>
        <div class="row totalVOffset">&nbsp;</div>
          <div class="row">
          <div class="col-md-4 totalLabel">Appels Entrants</div>
          <div class="col-md-4 totalLabel">Appels Sortants</div>
          <div class="col-md-4 totalLabel">Taux Décroché</div>
          </div>
        <div class="row totalVOffset">&nbsp;</div>
        </div>
        <div class="col-md-1 bravo" ng-if="bravo(((groups[0].totals.sum.TotalNumberCallsAnswered + groups[0].totals.sum.TotalNumberCallsTimeout) / groups[0].totals.sum.TotalNumberCallsEntered) *100,96)">
        <div class="smiley row"><img src="images/lfmsmile.png"></div>
        <div class="row bravo">Bravo !</div>
        <div class="row totalVOffset">&nbsp;</div>
        </div>
      </div>
      <div class="row totalVOffset">
        <div class="col-md-1 col-md-offset-6 colLink">
        <div class="boxLink">&nbsp</div>
        </div>
      </div>
      <div class="row" ng-controller="queueGroupController">
        <div class="col-md-6 col-md-offset-3 totalQueueCalls">
          <div class="row totalVOffset"><div class="col-md-6">&nbsp;</div>
          </div>
          <div class="row">
            <div class="col-md-6 totalQueueCol"><div class="totalQueue {{getStyle('AbandonnedCalls',groups[0].totals.sum.TotalNumberCallsAbandonned,thresholdStyle)}}">{{groups[0].totals.sum.TotalNumberCallsAbandonned}}</div></div>
            <div class="col-md-6 totalQueueCol"><div class="totalQueue {{getStyle('WaitingCalls',groups[0].totals.sum.WaitingCalls)}}">{{groups[0].totals.sum.WaitingCalls}}</div></div>
          </div>
          <div class="row">
            <div class="col-md-6 totalQueueLabel">Abandons</div>
            <div class="col-md-6 totalQueueLabel">En attente</div>
          </div>
          <div class="row totalVOffset"><div class="col-md-6">&nbsp;</div>
          </div>
        </div>
        <div class="row totalVOffset">
          <div class="col-md-1 col-md-offset-6 colLink">
          <div class="boxLink">&nbsp</div>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-3 totalQueueCalls">
          <div class="row totalVOffset"><div class="col-md-6">&nbsp;</div>
          </div>
          <div class="row">
            <div class="col-md-4 totalQueueCol"><div class="totalQueue">{{agentGroups[0].totals.sum.AgentsAvailable| number : 0}}</div></div>
            <div class="col-md-4 totalQueueCol"><div class="totalQueue">{{agentGroups[0].totals.sum.AgentsOnCall | number : 0}}</div></div>
            <div class="col-md-4 totalQueueCol"><div class="totalQueue {{getStyle('AgentOnPause',agentGroups[0].totals.sum.AgentsOnPause)}}">{{agentGroups[0].totals.sum.AgentsOnPause| number : 0}}</div></div>
          </div>
          <div class="row">
            <div class="col-md-4 totalQueueLabel">Agents Disponibles</br>Hors Pause</div>
            <div class="col-md-4 totalQueueLabel">Agents</br>En Conversation</div>
            <div class="col-md-4 totalQueueLabel">Agents</br>En Pause</div>
          </div>
          <div class="row totalVOffset"><div class="col-md-6">&nbsp;</div>
          </div>
        </div>
        
      </div>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="qma.bundle.js"></script>
  </body>
</html>