<!DOCTYPE html>
<html ng-app='simple' ng-cloak>
<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">
    <title>Simple Web Panel</title>
  <link rel="stylesheet" type="text/css" href="vendor.styles.css">
  <link rel="stylesheet" type="text/css" href="simple.styles.css">
  </head>
  <body ng-controller="ctiLink">
    <div ng-hide="connected" class="container loading">
      <div class="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
      </div>
    </div>
    <div ng-show="connected" class="container-fluid text-center" ng-controller="panelQueueController">
      <div class="row" >
        <div ng-class="queues.length > 1 ? 'col-md-4' : 'col-md-12'" ng-repeat='queue in queues | orderBy:"displayName"' >
          <h1 class="mainTitle">{{queue.displayName}}</h1>
          <p></p>
          <table class="table counters">
            <tr class="counterRow"><td class="counterTitle">Appels en file d'attente</td><td class="counterValue">{{queue.WaitingCalls}}</td></tr>
            <tr class="counterRow"><td class="counterTitle">Appels Reçus</td><td class="counterValue">{{queue.TotalNumberCallsEntered}}</td></tr>
            <tr class="counterRow"><td class="counterTitle">Appels Abandonnés</td><td class="counterValue">{{queue.TotalNumberCallsAbandonned}}</td></tr>
            <tr class="counterRow"><td class="counterTitle">Agents Disponibles</td><td class="counterValue">{{queue.AvailableAgents}}</td></tr>
            <tr class="counterRow"><td class="counterTitle">Agents En Ligne</td><td class="counterValue">{{queue.TalkingAgents}}</td></tr>
          </table>
        </div>
      </div>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="simple.bundle.js"></script>
  </body>
</html>
