<!DOCTYPE html>
<html ng-app="sogetrel" ng-cloak>
  <head>
    <base target="_blank" href=".">
    <meta charset="UTF-8">
    <title>Contact Center Supervision</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="sogetrel.styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="ctiLink">
   
    <div class="logos-sogetrel-selectedlogo" ng-controller="queueGroupController"> 
      <img class="logo-sogetrel" src="images/logo-sogetrel.jpg">
      <div class="goup-title-sogetrel">{{groupsTitle}}</div>
      <img class="selectedlogo" ng-src="{{selectedLogo}}"> 
    </div>
    
    <div class="container-fluid text-center" ng-controller="queueGroupController">
      <div class="PanelLink{{status}} container-tables">
        <table class="PanelLink{{status}} table table-bordered table-left-display" >
          <thead >
            <tr>
              <th class="empty-box"></th> 
              <th class="totalHeader" >
                <div class="totalTitle sogetrel-width-column">Appels reçus</div>
             </th>
             <th class="totalHeader">
               <div class="totalTitle sogetrel-width-column">Appels traités</div>
             </th>
             <th class="totalHeader">
              <div class="totalTitle qs-width-column"> % QS </div>
             </th>
             <th class="totalHeader" colspan="2">
              <div class="totalTitle">Appels en attente</div>
             </th>
             <th class="totalHeader" colspan="2">
              <div class="totalTitle">Attente la plus longue</div>
             </th>
           </tr> 
           
           <tr class="line-totals">
            <th class="title-extension"></th>
             <th class="counter-total-head"> 
              <i class="fa fa-random icon-title icon-title-green"></i>
              <div class="calls-entered-color counters-total-display">{{groups[0].totals.sum.TotalNumberCallsEntered || 0 | split}}</div>
            </th>
            <th class="counter-total-head"> 
              <i class="fa fa-phone icon-title icon-title-green"></i>
              <div class="calls-answered-color counters-total-display">{{groups[0].totals.sum.TotalNumberCallsAnswered || 0 | split}}</div>
            </th>
            
            <th class="counter-total-head"> 
              <div class="gauge-sogetrel">
                <canvas id="pie" class="chart chart-doughnut"
                chart-data="groups[0].charts.chartPercentageAnswered.data" chart-labels="groups[0].charts.chartPercentageAnswered.labels" chart-options="groups[0].charts.chartPercentageAnswered.options" chart-colors="groups[0].charts.chartPercentageAnswered.colors">
                </canvas>
              </div> 
              <div class="counters-total-display {{getStyle('PercentageAnswered',groups[0].totals.global.PercentageAnswered)}}">{{(groups[0].totals.sum.TotalNumberCallsAnswered/groups[0].totals.sum.TotalNumberCallsEntered)*100 |number :1 | dashWhenEmpty}} </div>
            </th>
            
            <th class="counter-total-head" colspan="2"> 
              <i class="fa fa-exclamation-triangle icon-title icon-title-grey" ng-class="groups[0].totals.sum.WaitingCalls>0 ? getStyle('WaitingCalls',groups[0].totals.sum.WaitingCalls):''"></i>
              <div class="counters-total-display" ng-class="groups[0].totals.sum.WaitingCalls >0 ? getStyle('WaitingCalls',groups[0].totals.sum.WaitingCalls):''">
                {{groups[0].totals.sum.WaitingCalls}}
             </div>
            </th>
           
            <th class="counter-total-head" colspan="2"> 
              <i class="fa fa-clock-o icon-title icon-title-grey" ng-class="groups[0].totals.max.LongestWaitTime>0 ? getStyle('LongestWaitTime',groups[0].totals.max.LongestWaitTime):''"></i>
              <div class="counters-total-display" ng-class="groups[0].totals.max.LongestWaitTime >0 ? getStyle('LongestWaitTime',groups[0].totals.max.LongestWaitTime):''">
                {{groups[0].totals.max.LongestWaitTime | queueTime}}
              </div>
            </th>
          </tr>
          </thead >
         
          <tbody>
            <tr class="table-line-display" ng-repeat='group in groups | orderBy:"displayName"' ng-if="$index !== 0"> 
              
                <td class="queue-name-display">{{group.name}}</td>
                <td class="calls-entered-color counters-display"> {{group.totals.sum.TotalNumberCallsEntered || 0 | split}}</td>
                <td class="calls-answered-color counters-display">{{group.totals.sum.TotalNumberCallsAnswered || 0 | split}}</td>
                
                <td class="counters-display" ng-class="{{group.totals.sum.TotalNumberCallsEntered}}>0?'{{getStyle('PercentageAnswered',group.totals.global.PercentageAnswered)}}':''">
                  {{(group.totals.sum.TotalNumberCallsAnswered/group.totals.sum.TotalNumberCallsEntered)*100 |number :1 | dashWhenEmpty}} </td>
                    

                <td class="counters-display no-border-counter" ng-class="{{group.totals.sum.WaitingCalls}}>0?'{{getStyle('WaitingCalls',group.totals.sum.WaitingCalls)}}':''">
                  {{group.totals.sum.WaitingCalls | dashWhenEmpty}}</td>
                  <td class="icon-display"> 
                    <i class="fa fa-exclamation-triangle icon-details" ng-class="group.totals.sum.WaitingCalls > 0? getStyle('WaitingCalls',group.totals.sum.WaitingCalls):''"></i> 
                  </td>
           
                 <td class="counters-display no-border-counter" ng-class="group.totals.max.LongestWaitTime>0 ? getStyle('LongestWaitTime',group.totals.max.LongestWaitTime):''">
                   {{group.totals.max.LongestWaitTime | queueTime | dashWhenEmpty}}</td>
                   <td class="icon-display">
                     <i class="fa fa-clock-o icon-details" ng-class="group.totals.max.LongestWaitTime > 0 ? getStyle('LongestWaitTime',group.totals.max.LongestWaitTime):''"></i>
                    </td>          
            </tr>
          </tbody>
        </table>

        <table class="PanelLink{{status}} table table-bordered table-right-display" >
          <thead>
            <!-- class="title queuehead" -->
            <tr>
             <th class="totalHeader" colspan="2">
              <div class="totalTitle">Agents disponibles</div>
             </th>

             <th class="totalHeader" colspan="2">
              <div class="totalTitle">Agents en pause</div>
            </th>
           </tr>

           <tr class="line-totals">
            <th class="counter-total-head" colspan="2">
             <div> <i class="fa fa-users icon-title icon-title-grey" ng-class="{'icon-title-blue' : agentGroups[0].totals.sum.AgentsAvailable > 0}"></i></div>
             <div class ="counters-total-display">&nbsp;</div>
            </th>

            <th class="counter-total-head" colspan="2">
              <div><i class="fa fa fa-coffee icon-title icon-title-grey" ng-class="{'icon-title-blue' : agentGroups[0].totals.sum.AgentsOnPause > 0}"></i></div>
             <div class ="counters-total-display">&nbsp;</div>
           </th>
          </tr>
           
          </thead>
          <tbody>
            <tr class="table-line-display" ng-repeat='group in agentGroups | orderBy:"displayName"' ng-if="$index !== 0">

              <td class="counters-display no-border-counter">{{group.totals.sum.AgentsAvailable | dashWhenEmpty}}</td>
              <td class="icon-display"><i class="fa fa-users icon-details" ng-class="{'icon-display-blue' : group.totals.sum.AgentsAvailable > 0}"></i></td>
              
              <td class="counters-display no-border-counter">{{group.totals.sum.AgentsOnPause | dashWhenEmpty}}</td>
              <td class="icon-display"><i class="fa fa-coffee icon-details" ng-class="{'icon-display-blue' : group.totals.sum.AgentsOnPause > 0}"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <span class="title"><i class="glyphicon glyphicon-leaf Link{{status}}"></i>&nbsp;{{clock}}</span>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="sogetrel.bundle.js"></script>
  </body>
</html>
