<!DOCTYPE html>
<html ng-app='summarylogo' ng-cloak ng-controller="ctiLink">
<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">
    <title>{{titlePage|| 'Summary'}}</title>
  <link rel="stylesheet" type="text/css" href="vendor.styles.css">
  <link rel="stylesheet" type="text/css" href="summarylogo.styles.css">
  </head>
  <body >
    <div ng-hide="connected" class="container loading">
      <div class="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
      </div>
    </div>
    <div ng-show="connected" class="container-fluid text-center" ng-controller="queueGroupController">

      <div class="row summary-title" >
        <div class="col-md-1"><img class="logo" src="images/logo.png"></div>
        <div class="col-md-2"></div>
        <div class="col-md-6 mainTitle">{{title}}</div>
        <div class="col-md-2 col-md-offset-1 clock-display">{{currentDay}} {{clock}}</div>
      </div>
      <div class="row counter-panel" >
        <table class="table all-groups">
          <tr>
            <td class="group-details" ng-repeat="group in groups">
              <div class="group-name">{{group.name  }}</div>
            </td>
          </tr>
          <tr>
              <td class="group-details" ng-repeat="group in groups">
                <div class="counter-value">{{group.totals.sum.WaitingCalls}}</div>
                <div class="counter-title">Appels en attente</div>
              </td>
            </tr>
          <tr>
            <td class="group-details" ng-repeat="group in agentGroups">
              <div class="counter-value">{{group.totals.sum.AgentsOnCall}}</div>
              <div class="counter-title">Conseillers en conversation</div>
              <div class="counter-value">{{group.totals.sum.AgentsAvailable}}</div>
              <div class="counter-title">Conseillers disponibles</tr>
            </td>
          </tr>
        </table>
      </div>
      <div class="row separator">
        <div class="sep-link">|</div>
      </div>
        <div class="row agent-panel" ng-controller="agent">
          <table class="table agents">
            <tr class="agent-detail">
              <td ng-repeat="group in agentGroups">
                    <table>
                      <tr class="agents-table" ng-repeat="agent in group.agents">
                        <td class="agent-name">{{agent.name | limitTo: 20 }}</td>
                        <td class="agent-state" translate>: {{agent.state}}</td>
                      <tr>
                    </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="summarylogo.bundle.js"></script>
  </body>
</html>
