<!DOCTYPE html>
<html ng-app='Th1' ng-cloak>
<head lang="en">
    <base target="_blank" href=".">
    <meta charset="UTF-8">
    <title>Th1 webpanel</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="th1.styles.css">
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="th1.bundle.js"></script>

</head>
<body ng-controller="ctiLink">
<div ng-hide="connected" class="container loading">
    <div class="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
    </div>
</div>
<div ng-show="connected" class="container-fluid text-center" ng-controller="queueGroupController">
    <div class="row summary-title" ng-controller="agent">
        <div class="col-md-1"><img class="logo" src="images/logo.png"></div>
        <div class="col-md-2"></div>
        <div class="col-md-6 mainTitle">OIC - Customer support</div>
        <div class="col-md-2 col-md-offset-1 clock-display">{{currentDay}} {{clock}}</div>
    </div>
    <div class="panelGlobal">
        <div class="row group_panel col-md-4" ng-repeat="group in groups">
            <div class="runColumn">
                <div class="group-name">
                    {{group.name |limitTo: 14}} - <b>QOS {{group.totals.qos.Before20 | number : 2 | dashWhenEmpty}} %</b>
                </div>
                <div class="stat-group">
                    <div class="counter-value">{{agentGroups[$index].totals.sum.AgentsAvailable}}</div>
                    <div class="counter-title">Agents disponibles</div>
                </div>
                <div class="stat-group">
                    <div class="counter-value">{{agentGroups[$index].totals.sum.AgentsOnCall}}</div>
                    <div class="counter-title">Conseillers en ligne</div>
                </div>
                <div class="stat-group">
                    <div class="counter-value">{{group.totals.sum.WaitingCalls}}</div>
                    <div class="counter-title">Appels en attente</div>
                </div>
                <div class="row container-fluid">
                    <table class="col-md-12 agents_table" ng-init="agentByPriorities = getAgentSortByPriority(agentGroups[$index])">
                        <tr class="agents_table_header">
                            <th>Agent</th>
                            <th>Etat</th>
                        </tr>
                        <tr class="agents_table_priorities" ng-repeat-start="priorityLevel in agentByPriorities | orderBy:'priority' track by $index">
                            <td>Niveau de priorité {{priorityLevel.priority}}</td><td></td>
                        </tr>
                        <tr class="agents_table_agents" ng-repeat="agent in priorityLevel.agents track by $index">
                            <td ng-class-even="'even'">{{agent.name | limitTo: 20 }}</td>
                            <td ng-class-even="'even'"><span class="{{agent.state}} badge" translate>{{agent.state}}</span></td>
                        </tr>
                        <tr ng-repeat-end></tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</body>
</html>
