<!DOCTYPE html>
<html ng-app='Th2' ng-cloak>
<head lang="en">
    <base target="_blank" href=".">
    <meta charset="UTF-8">
    <title>TH2 Contact Center Supervision</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="th2.styles.css">
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="th2.bundle.js"></script>
</head>
<body ng-controller="ctiLink">
<div ng-hide="connected" class="container loading">
    <div clas="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
    </div>
</div>
<div ng-show="connected" class="container-fluid text-center mainlfm" ng-controller="QueueController as queueController">
    <div class="row" >
        <div class="col-md-1"><img class="lfmLogo" src="images/logo.png"></div>
        <div class="col-md-3"></div>
        <div class="col-md-4">APPELS</div>
        <div class="col-md-2 col-md-offset-2">{{currentDay}}</br>{{clock}}</div>
    </div>
    <div class="row">
        <div class="col-md-12 totalCalls">
            <div class="row totalVOffset"><div class="col-md-12">&nbsp;</div></div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1 totalCounterCol"><div class="totalCounter">{{queueController.stats.sum.TotalNumberCallsAnswered | number : 0}}</div></div>
                <div class="col-md-2 totalCounterCol"><div class="totalCounter">{{queueController.stats.sum.TotalNumberCallsAnswered -  queueController.stats.sum.TotalNumberCallsAnsweredBefore20}}</div></div>
                <div class="col-md-2 totalCounterCol"><div class="totalCounter">{{queueController.stats.sum.TotalNumberCallsAbandonned | number : 0}}</div></div>
                <div class="col-md-2 totalCounterCol"><div class="totalCounter">{{queueController.stats.sum.WaitingCalls}}</div></div>
                <div class="col-md-2 totalCounterCol"><div class="totalCounter">{{queueController.stats.qos.Before20 | number : 0 |  dashWhenEmpty}} %</div></div>
            </div>
            <div class="row totalVOffset">&nbsp;</div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1 totalLabel">Appels décrochés (total journée)</div>
                <div class="col-md-2 totalLabel">Appels hors Sl A (total journée)</div>
                <div class="col-md-2 totalLabel">Appels abandonnés</div>
                <div class="col-md-2 totalLabel">Appels en attente</div>
                <div class="col-md-2 totalLabel">QOS globale journée</div>
            </div>
            <div class="row totalVOffset">&nbsp;</div>
        </div>
    </div>
    <div class="row">
        <div class="totalVOffset"><div class="col-md-12">&nbsp;</div>
            <div class="col-md-6">
                <table class="table agentsTable table-condensed">
                    <tr class="agentTableTitles">
                        <th>Client</th>
                        <th>Total</th>
                        <th>En attente</th>
                        <th>QOS</th>
                    </tr>
                    <tr ng-repeat="queue in queueController.queues" ng-if="$index < (queueController.queues.length / 2)">
                        <td ng-class-even="'even'" class="" >{{queue.displayName | limitTo: 14 }} </td>
                        <td ng-class-even="'even'" class="">{{queue.TotalNumberCallsEntered | number: 0 | zeroWhenEmpty}}</td>
                        <td ng-class-even="'even'" class="">{{queue.WaitingCalls | number: 0 | zeroWhenEmpty}}</td>
                        <td ng-class-even="'even'" class="">{{queue.PercentageAnsweredBefore20 | number: 0 | dashWhenEmpty}} %</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table agentsTable table-condensed">
                    <tr class="agentTableTitles">
                        <th>Client</th>
                        <th>Total</th>
                        <th>En attente</th>
                        <th>QOS</th>
                    </tr>
                    <tr ng-repeat="queue in queueController.queues" ng-if="$index >= (queueController.queues.length / 2)">
                        <td ng-class-even="'even'" class="" >{{queue.displayName | limitTo: 14 }} </td>
                        <td ng-class-even="'even'" class="">{{queue.TotalNumberCallsEntered | number: 0 | zeroWhenEmpty}}</td>
                        <td ng-class-even="'even'" class="">{{queue.WaitingCalls | number: 0 | zeroWhenEmpty}}</td>
                        <td ng-class-even="'even'" class="">{{queue.PercentageAnsweredBefore20 | number: 0 | dashWhenEmpty}} %</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
