<!DOCTYPE html>
<html ng-app='ugps' ng-cloak>
<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">
    <title>Ugps Totem 1</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="ugps.styles.css">
  </head>
  <body ng-controller="ctiLink">
    <div ng-hide="connected" class="container loading">
      <div class="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
      </div>
    </div>
    <div ng-show="connected" class="container-fluid text-center" ng-controller="queueGroupController">
        <div>
            <div class="row summary-title">
              <div class="col-md-1"><img class="logo" src="images/logo.png"></div>
              <div class="col-md-3"></div>
              <div class="col-md-4 mainTitle">{{groups[0].name}}</div>
              <div class="col-md-2 col-md-offset-2 clock-display">{{currentDay}} {{clock}}</div>
            </div>
            <div class="row counter-panel border-{{panelColor}}-color background-{{panelColor}}-color">
              <table class="table all-queues ">
                <tr>
                  <td class="queue-recap">
                    <div class="counter-value counter-value-background border-{{panelColor}}-color">{{agentGroups[0].totals.sum.AgentsAvailable}}/{{agentGroups[0].totals.sum.AgentsLoggedOn}}</div>
                  </td>
                  <td class="queue-recap">
                    <div class="counter-value counter-value-background border-{{panelColor}}-color">{{agentGroups[0].totals.sum.AgentsOnCall}}</div>
                  </td>
                  <td class="queue-recap">
                    <div class="{{getStyle('LongestWaitTime',groups[0].totals.max.LongestWaitTime,thresholdStyle)}} counter-value  border-{{panelColor}}-color">{{groups[0].totals.max.LongestWaitTime | queueTime}}s</div>
                  </td>
                </tr>
                  <td class="queue-recap"><div class="counter-title">Agents Disponibles/Loggués</div></td>
                  <td class="queue-recap"><div class="counter-title">Agents En Conversation</div></td>
                  <td class="queue-recap"><div class="counter-title">Attente La Plus Longue</div></td>
                </tr>
                <tr>
                    <td class="queue-recap">
                      <div class="counter-value counter-value-background  border-{{panelColor}}-color">{{groups[0].totals.sum.TotalNumberCallsEntered}}</div>
                    </td>
                    <td class="queue-recap">
                      <div class=" counter-value  border-{{panelColor}}-color {{getStyle('WaitingCalls',groups[0].totals.sum.WaitingCalls,thresholdStyle)}}">{{groups[0].totals.sum.WaitingCalls}}</div>
                    </td>
                    <td class="queue-recap">
                      <div class="counter-value  border-{{panelColor}}-color {{getStyle('PercentageAnswered',groups[0].totals.global.PercentageAnswered,thresholdStyle)}}">{{groups[0].totals.global.PercentageAnswered | number : 0}}%</div>
                    </td>
                  </tr>
                    <td class="queue-recap"><div class="counter-title">Appels Présentés</div></td>
                    <td class="queue-recap"><div class="counter-title">Appels en Attente</div></td>
                    <td class="queue-recap"><div class="counter-title">Taux Décroché</div></td>
                  </tr>
              </table>
            </div>
          </div>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="ugps.bundle.js"></script>
 </body>
</html>