<!DOCTYPE html>
<html ng-app='ugps_2' ng-cloak>
<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">
    <title>UGPS Totem2</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="ugps_2.styles.css">
  </head>
  <body ng-controller="ctiLink">
    <div ng-hide="connected" class="container loading">
      <div class="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
      </div>
    </div>
    <div ng-show="connected" class="container-fluid text-center" ng-controller="queueGroupController">
        <div>
            <div class="row summary-title">
              <div class="col-md-1"><img class="logo" src="images/logo.png"></div>
              <div class="col-md-3"></div>
              <div class="col-md-4 mainTitle">{{groupsTitle}}</div>
              <div class="col-md-2 col-md-offset-2 clock-display">{{currentDay}} {{clock}}</div>
            </div>
            <div class="row counter-panel border-{{panelColor}}-color background-{{panelColor}}-color">
              <table class="PanelLink{{status}} table table-bordered" ng-controller="queueTotal">
                <thead >
                  <!-- class="title queuehead" -->
                  <th class="totalHeader">
                    <div class="totalTitle">Pays</div>
                  </th>
                  <th class="totalHeader">
                    <div class="totalTitle">Agents Disponibles</div>
                  </th>
                  <th class="totalHeader">
                    <div class="totalTitle">Appels En Attente</div>
                  </th>
                  <th class="totalHeader">
                    <div class="totalTitle">Attente La plus longue</div>
                  </th>
                  <th class="totalHeader">
                    <div class="totalTitle">Nb Appels</div>
                  </th>
                  <th class="totalHeader">
                    <div class="totalTitle">Taux Décroché</div>
                  </th>
                </thead>
                <tbody class="tableBody" >
                  <tr ng-repeat-start='group in groups | orderBy:"displayName"' ng-class-even="'even'" >
                    <td ng-click="showAlert()" class="queueNameTitle">{{group.name}}</td>
                    <td class="">{{agentGroups[$index].totals.sum.AgentsAvailable}}</td>
                    <td ng-class="{{group.totals.sum.WaitingCalls}}>0?'{{getStyle('WaitingCalls',group.totals.sum.WaitingCalls)}}':''">{{group.totals.sum.WaitingCalls }}</td>
                    <td ng-class="{{group.totals.sum.WaitingCalls}}>0?'{{getStyle('LongestWaitTime',group.totals.max.LongestWaitTime)}}':''">{{group.totals.max.LongestWaitTime | queueTime}}</td>
                    <td class="">{{group.totals.sum.TotalNumberCallsEntered}}</td>
                    <td ng-class="{{group.totals.sum.TotalNumberCallsEntered}}>0?'{{getStyle('PercentageAnswered',group.totals.global.PercentageAnswered)}}':''">{{group.totals.global.PercentageAnswered | number : 0}}%</td>
                  </tr>
                  <tr ng-repeat-end ng-if="!$last"><td  class="separator" colspan="6" ></td></tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="ugps_2.bundle.js"></script>
 </body>
</html>