<!DOCTYPE html>
<html ng-app='ugps_3' ng-cloak>
<head lang="en">
  <base target="_blank" href=".">
  <meta charset="UTF-8">
    <title>Ugps Totem 3</title>
    <link rel="stylesheet" type="text/css" href="vendor.styles.css">
    <link rel="stylesheet" type="text/css" href="ugps_3.styles.css">
  </head>
  <body ng-controller="ctiLink">
    <div ng-hide="connected" class="container loading">
      <div class="row">
        <div class="col-md-3"><i class="glyphicon glyphicon-refresh glyph-loading" aria-hidden="true"></i> Loading .....</div>
        <div class="col-md-2 col-md-offset-7">{{clock}}</div>
      </div>
    </div>
    <div ng-show="connected" class="container-fluid text-center" ng-controller="queueGroupController">
        <div>
            <div class="row summary-title">
              <div class="col-md-1"><img class="logo" src="images/logo.png"></div>
              <div class="col-md-3"></div>
              <div class="col-md-4 mainTitle">{{groups[0].name}}</div>
              <div class="col-md-2 col-md-offset-2 clock-display">{{currentDay}} {{clock}}</div>
            </div>
            <div class="row counter-panel border-{{panelColor}}-color background-{{panelColor}}-color">
              <table class="table all-queues">
                <tr>
                  <td class="queue-recap">
                    <div class="counter-value counter-value-background border-{{panelColor}}-color">{{agentGroups[0].totals.sum.AgentsOnCall}}</div>
                  </td>
                  <td class="queue-recap">
                    <div class="counter-value counter-value-background border-{{panelColor}}-color">{{agentGroups[0].totals.sum.AgentsAvailable}}</div>
                  </td>
                  <td class="queue-recap">
                    <div class="counter-value  border-{{panelColor}}-color {{getStyle('WaitingCalls',groups[0].totals.sum.WaitingCalls)}}" class="counter-value  border-{{panelColor}}-color">{{groups[0].totals.sum.WaitingCalls}}</div>
                  </td>
                </tr>
                  <td class="queue-recap"><div class="counter-title">Agents<br/>en Conversation</div></td>
                  <td class="queue-recap"><div class="counter-title">Agents<br/>Disponibles</div></td>
                  <td class="queue-recap"><div class="counter-title">Appels<br/>en attente</div></td>
                </tr>
            </table>
                <table class="table all-queues">
                <tr>
                    <td class="queue-recap-little">
                      <div class="counter-value-little counter-value-background border-{{panelColor}}-color">{{groups[0].totals.qos.AnsweredBefore20 | number : 0}}%</div>
                    </td>
                    <td class="queue-recap-little">
                        <div class="counter-value-little counter-value-background border-{{panelColor}}-color">{{groups[0].totals.sum.TotalNumberCallsEntered}}</div>
                      </td>
                    <td class="queue-recap-little">
                        <div class="counter-value-little counter-value-background border-{{panelColor}}-color">{{groups[0].totals.sum.TotalNumberCallsTimeout | number : 0}}</div>
                    </td>
                    <td class="queue-recap-little">
                      <div class="counter-value-little counter-value-background border-{{panelColor}}-color">{{groups[0].totals.sum.TotalNumberCallsAbandonned | number : 0}}</div>
                    </td>
                  </tr>
                    <td class="queue-recap-little"><div class="counter-title-little">Qos(-20s)</div></td>
                    <td class="queue-recap-little"><div class="counter-title-little">Appels<br/>Présentés</div></td>
                    <td class="queue-recap-little"><div class="counter-title-little">Appels<br/>Non répondus</div></td>
                    <td class="queue-recap-little"><div class="counter-title-little">Appels<br/>Abandonnés</div></td>
                  </tr>
              </table>
            </div>
          </div>
    </div>
    <script src="cti.js"></script>
    <script src="manifest.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="xccti.bundle.js"></script>
    <script src="panels.bundle.js"></script>
    <script src="ugps_3.bundle.js"></script>
 </body>
</html>