body {
    background-color: black !important;
    min-height: 100%;
}


/*----HEADER------*/

header {
    padding-top: 25px;
}


#logochronoflex{
    height: 110px;
    margin-top: 15px;
}


#logoxivo{
    height: 120px;
    margin-left: 40px;
}


/*------SECTION------*/

#section-container {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}


.bloc-indicators{
    display: block;
    height: 300px;
    border: solid 1px black;
    margin-left: 2%;
    margin-bottom: 5%;
}


.bloc-indicators h1{
    font-size: 50px;
    text-align: center;
    top: 25%;
    color: black;
}


#bloc1-waitingcalls {
    background-color: #fff;
}


#bloc2-waitingtime {
    background-color: #5D8B00;
}


.agtDispoBad {
  background-color: #ff0000ff;
}


.agtDispoAverage {
  background-color: orange;
}


.agtDispoGood {
  background-color: #5D8B00;
}


#bloc4-callbacks {
    background-color: #fff;
}


.blinkwaitingcalls {
  background-color:white;
  animation: blinkwaitingcalls 2s infinite;
}


@keyframes blinkwaitingcalls {
  0% { }
  50% { background-color: #D44501; }
}


.blinkcallbacks {
  background-color:white;
  animation: blinkcallbacks 2s infinite;
}


@keyframes blinkcallbacks {
  0% { }
  50% { background-color: #ff0000ff; }
}


.data-nb {
    font-size: 150px;
    text-align: center;
    transform: translateY(15%);
    color: black;
}


/*------FOOTER-----*/

.Linkopened {
  color : green;
}


.Linkclosed {
  color : red;
}


/*----------------------Responsive design------------------*/

@media (max-device-width : 1024px) {

    .bloc-indicators h1 {
        font-size : 50px;
         top : 32%;
    }


    .bloc-indicators {
        margin-left: 1%;
        margin-right: 1%;
    }

}


@media (max-device-width : 768px) {

    .bloc-indicators h1 {
        font-size : 35px;
        top : 35%;
    }

}


@media (max-width: 740px) {


    .data-nb {
        font-size: 120px;
    }


    .bloc-indicators h1 {
        font-size : 40px;
        top : 0%;
    }

}