body {
  background-color: white;
  background-repeat:no-repeat;
  background-position:left top;
}
.logo {
  vertical-align:center;
  align: center;
  max-height:100px;
  max-widht:200px;
}
.clock-display {
  margin-top: 20px;
  font-size:30px;
}
.summary-title {
    margin-bottom : 10px;
}
.mainTitle {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 10px;
  font-size:40px;
}

.table>tbody>tr>td.queue-recap {
    border-top: 0px;
    width:30%;
    padding-left: 50px;
    padding-right: 50px;
}
.table>tbody>tr>td.queue-counter {
    border-top: 0px;
    width:15%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.queue-name {
  text-align: center;
  font-size:50px;
}

.sep-link {
  margin-left: auto;
  margin-right: auto;
  width:10px;
  height: 40px;
  padding:0px;
  margin-top:-10px;
  margin-bottom:-10px;
}
.separator {
    margin-left: 100px;
    margin-right: 50px;
    padding: 5px;
}
.counter-title {
  text-align: center;
  font-size:30px;
  margin-bottom: 10px;
}

.counter-value {
  text-align: center;
  font-size: 30px;
  background: white;
  padding: 5px;
}
.table {
  margin-bottom: 0px;
  border-width: 1px;
}
.counter-panel {
  margin-left: 100px;
  margin-right: 50px;
  padding: 10px;

}
.agent-panel {
  margin-left: 100px;
  margin-right: 50px;
}

table>thead{
  color: white;
  font-weight: bold;
}
.badge {
  color: white;
  font-weight: bold;
}
.chartTitle{
  font-weight: bold;
  font-size: 30px;  
}
.agents {
  font-size:30px;
  border-spacing: 20px;
  border-collapse: separate;
  margin-bottom: 0px;
}

.title-table{
  font-size:20px;
  font-weight: bold;
}
/* to be customized using url parameter panelColor */

/* &panelColor=blue */
.background-blue-color {
  background-color: rgb(0, 179, 241);
}

.border-blue-color {
  border:5px solid rgb(57,169,220);
}

/* &panelColor=green */
.background-green-color {
  background-color: rgb(138,203,197);
}

.border-green-color {
  border:5px solid rgb(0,156,150);
}

/* &panelColor=grey */
.background-grey-color {
  background-color: rgb(236,237,237);
}

.border-grey-color {
  border:5px solid rgb(128,129,121);
}

/* &panelColor=pink */
.background-pink-color {
  background-color: rgb(251,228,238);
}

.border-pink-color {
  border:5px solid rgb(244,181,208);
}

/* &panelColor=purple */
.background-purple-color {
  background-color: rgb(200,175,209);
}

.border-purple-color {
  border:5px solid rgb(128,54,37);
}

/* &panelColor=orange */
.background-orange-color {
  background-color: rgb(255, 204, 102);
}

.border-orange-color {
  border:5px solid rgb(255, 140, 102);
}

/* Color Threshold */
.thresholdColorRed {
	background-color: #ea5050;
	color: black;
}
.thresholdColorBlue {
	background-color: #1e56ee;
	color: black;
}
.thresholdColorGreen {
	background-color: #1eee1e;
	color: black;
}
.thresholdColorYellow {
	background-color: #eee01e;
	color: black;
}
.thresholdColorOrange {
	background-color: #ee9b1e;
	color: black;
}

