.body-itelis {
  width: 99%;
}

/* -------- Header -------- */

header {
  padding-top: 10px;
}

/* -------- section -------- */

.table-panel-itelis {
  margin: auto;
  width : 95%;
  margin-top: 10px;
  margin-bottom: 60px;
  border: 1px solid #55A3BD;
  table-layout: fixed;
}

.itelis-titles {
  height: 100px;
  width:250px;
  background-color: #143C7D;
  color: white;
  font-size: 25px;
}

.group-itelis {
  text-align: center;
  vertical-align: middle !important;
  border: 1px solid #55A3BD !important;
  background-color: #E2E2E3;
  font-weight: normal;
}

.text-itelis {
  text-align: center;
  vertical-align: middle !important;
  border: 1px solid #55A3BD !important;
}

.content-itelis {
  font-size: 40px;
  font-weight: bold;
}

/*------FOOTER-----*/

.hour {
  font-size: 32px;
  color: #55a3bd;
}

.Linkopened {
  color : green;
}


.Linkclosed {
  color : red;
}


#logoitelis {
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
