body {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    background-color : rgb(223, 255, 187);
    font-size:40px;
    color: white;
    background-repeat:no-repeat;
    background-position:left top;
}

.mainlfm {
    color: white;
}
.bravo {
    color: orange;
    font-size: 30px;
}
.lfmLogo {
    vertical-align:center;
    align: center;
    max-height:100px;
    max-widht:200px;
}
.smiley {
    vertical-align:top;
    margin-top: -10px;
}
.smallLink {
    font-size: 8px;
}
.rightLink {
    text-align: center;
}
.rightVertLink {
    width: 5px;
}
.horizLink {
    background-color : white;
    font-size: 5px;
}
.boxLink {
    width: 20px;
    background-color : white;
}
.colLink {
    text-align: center;
}


.totalVOffset {
    font-size:20px;
}

.totalLabel {
    font-size:20px;
}
.Table {
    background-color: #c8faff;
    color: black;
}
.even{
    background-color: lightskyblue;
}
.TableTitles{
    background-color: #0b58a2;
    color: white;
    border: 2px;
    border-color: white;
}
.TableTitles>th{
    text-align: center;
}
.Linkopened {
    color : green;
}
.Linkclosed {
    color : red;
}
.legend {
    font-size:15px;
}