body {
  background-color: white;
  background-repeat:no-repeat;
  background-position:left top;
}
.logo {
  vertical-align:center;
  align: center;
  max-height:100px;
  max-widht:200px;
}
.clock-display {
  margin-top: 20px;
  font-size:30px;
}
.summary-title {
    margin-bottom : 10px;
}
.mainTitle {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 10px;
  font-size:40px;
}

.table>tbody>tr>td.queue-recap {
    border-top: 0px;
    width:30%;
    padding-left: 50px;
    padding-right: 50px;
}
.table>tbody>tr>td.queue-counter {
    border-top: 0px;
    width:15%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.queue-name {
  text-align: center;
  font-size:50px;
}

.sep-link {
  margin-left: auto;
  margin-right: auto;
  width:10px;
  height: 40px;
  padding:0px;
  margin-top:-10px;
  margin-bottom:-10px;
}
.separator {
    margin-left: 100px;
    margin-right: 50px;
    padding: 5px;
}
.counter-title {
  text-align: center;
  font-size:30px;
  margin-bottom: 10px;
}

.counter-value {
  text-align: center;
  font-size: 30px;
  background: white;
  padding: 5px;
}
.table {
  margin-bottom: 0px;
}
.table>tbody> tr.per-agent {.agent-detail
  border-style: none;
  border-width: 0px;
}
.table>tbody>tr.agent-detail td {
  text-align: center;
  font-size:20px;
  background: white;
  width:10%;
  text-align:left;
  padding-left:10px;
  padding-top:0px;
  padding-bottom:0px;
  border: 0px;
}
.table>tbody>tr.agent-detail td.agent-name {
  width:20%;
}
.table>tbody>tr.agent-detail td.sep {
  width:1%;
}
.counter-panel {
  margin-left: 100px;
  margin-right: 50px;
  padding: 10px;

}
.agent-panel {
  margin-left: 100px;
  margin-right: 50px;
}


.agents {
  font-size:30px;
  border-spacing: 20px;
  border-collapse: separate;
  margin-bottom: 0px;
}
.all-queues {
  font-size:30px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-bottom: 0px;
}
.agents>tr {
  background : white;
}

.agent-name {
  width: 50%;
  text-align: left;
}
