.body {
  background-color: grey;
}
.mainTitle {
  text-align: center;
  padding-bottom: 100px;
  font-size:50px;
}
tr.counterRow td {
  padding-bottom:50px !important;
}
.counterTitle {
  text-align: center;
  font-size:30px;
  width:70%;
}
.counterValue {
  text-align: center;
  font-size:30px;
  width:30%;
}
