body {
  background-color : D9EFF5;
  font-size:20px;
  font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
  
  .logos-sogetrel-selectedlogo {
   width: 98%;
   height: 200px;
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   padding: 0 60px;
   justify-content: center;
  }

  .goup-title-sogetrel {
    align-self: center;
    font-size: 28px;
    color: #214e88;
    font-weight: bold;
  }

  .logo-sogetrel {
    width: 185px;
    height: auto;
    align-self: center;
  }

 .selectedlogo {
    align-self: center;
    justify-self: end;
  }

  .container-tables {
    margin : 20px;
    width: 98%;
  }

  .totalHeader {
  height: 40px;
  width: auto;
  margin-bottom: 0px; 
}

  .totalTitle {
   text-align: center;
   font-size: 20px;
   width: auto;
   margin-left: 2px;
   margin-left: 2px;
   padding: 2px;  
   overflow: hidden;
   text-overflow: ellipsis;  
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .title-extension {
    background-color: white;
  }

  .totalCounter {
   background-color:#77ABD6;
   text-align: center;
   font-size:20px;
   padding-top: 10px;
   padding-bottom: 10px;
  }

  .queue-name-display {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    text-align: left;
    color: #214e88;
    border-left: solid 1px black;
  }

  .calls-entered-color, .calls-answered-color {
   color:green;
  }
  
  .Linkopened {
  color : green;
  }
  .Linkclosed {
  color : red;
  }
  
  .PanelLinkclosed {
  color : grey;
  background-color:grey;
  }

  .table-left-display {
    width: 75%; 
    float: left;
  }

  .table-right-display {
    width: 25%;
    border-left: hidden;
  }

  .table-line-display {
    min-height: 100px;
  }

  .empty-box {
    border-top: hidden !important;
    border-left: hidden !important;
  }

  .counters-display {
    font-size: 1.4em;
    text-align: center;
    height: 65px;
    width: auto;
  }

  .qs-width-column, .sogetrel-width-column {
    width: 150px;
  }

  .no-border-counter {
    border-right: hidden !important;
  }

  .icon-display {
    width: auto;
    text-align: center;
    color: lightgrey;
  }

  .icon-display-blue {
    width: auto;
    text-align: center;
    color: #214e88;
  }

  .icon-details {
    margin-top: 8px;
    font-size: 25px;
  }

  .counters-total-display {
    font-size: 1.4em;
  }

  .icon-title {
    font-size: 35px;
  }

  .icon-title-grey {
    color: lightgrey;
  }

  .icon-title-blue {
    color: #214e88;
  }

  .container-counter {
    display: flex;
  }

  .line-totals {
    border-top: hidden;
    border-left: hidden;
    height: 50px;
  }

  .counter-total-head {
    text-align: center;
  }

  .gauge-sogetrel {
    margin: 0 auto;
    width: 75px;
    height: auto;
    padding: 0px;
  }

  .percentage-column-display {
    width: 75px;
  }


  .icon-title-green {
    color: green;
  }


  /* Color Threshold */

  .thresholdColorRed {
    background-color: white;
    color: #cf2824;
  }
  .thresholdColorGreen {
    background-color: white;
    color: green;
  }
  .thresholdColorYellow {
    background-color: white;
    color: #d3831b;
  }
 

  /*-----Responsive design-----*/

  @media (max-device-width : 1500px) {
    .sogetrel-width-column {
      min-width: 70px;
    }
  
    .qs-width-column {
      width: auto;
    }
  
  } 

@media (max-device-width : 1024px) {

  .logos-sogetrel-orange {
    width: 97%;
   }
 
   .totalTitle {  
    font-size: medium;
   }

   .queue-name-display {
     text-align: left;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 240px;
   }

   .table-left-display {
    float: none;
  }

  .table-right-display {
    float: none;
  }

  .container-tables {
    display: flex;
    flex-direction: row;
  }

  .sogetrel-width-column {
    min-width: 70px;
  }

  .qs-width-column {
    width: auto;
  }

}

@media (max-device-width : 768px) {

  .logo-sogetrel {
    margin-top: 45px;
  }

  .totalTitle {
    font-size: medium;
  }

  .queue-name-display {
    max-width: 140px;
    font-size: small;
  }

  .table-left-display {
    float: none;
  }

  .table-right-display {
    float: none;
  }


  .container-tables {
    display: flex;
    flex-direction: row;
  }

  .sogetrel-width-column {
    min-width: 70px;
  }

  .qs-width-column {
    width: auto;
  }

}


@media (max-width: 740px) {


  .logo-sogetrel {
    width: 50%;
    height: auto;
    margin-top: 50px;  
  }

 .logo-orange {
    width: 25%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .table-left-display {
    width: 50%;
    float: none; 
  }

  .table-right-display {
    width: 40%;
    float: none;
  }

  .container-tables {
    display: flex;
    flex-direction: row;
  }


  .sogetrel-width-column {
    min-width: 70px;
  }

  .qs-width-column {
    width: auto;
  }

}