body {
  background-color: white;
  background-repeat:no-repeat;
  background-position:left top;
}
.logo {
  vertical-align:center;
  align: center;
  height: 10vw;
  max-height:100px;
  max-widht:200px;
}
.clock-display {
  margin-top: 20px;
  font-size:2vw;
}
.summary-title {
    margin-bottom : 10px;
}
.mainTitle {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 10px;
  font-size:2vw;
}
.table.>tbody>tr {
    border-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.table>tbody>tr>td.group-details {
    border-top: 0px;
    width:16%;
    padding-top:0px;
}

.group-name {
  text-align: center;
  font-size:2vw;
}

.sep-link {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0,156,150);
  color: rgb(0,156,150);
  width:1%;
  height: 15px;
  padding:15px;
  margin-top:-15px;
  margin-bottom:-15px;

}
.counter-title {
  text-align: center;
  font-size:1.5vw;
  margin-bottom: 1vw;
  line-height: 1.5vw;
}

.counter-value {
  text-align: center;
  font-size: 1.5vw;
  background: white;
  border : 2px solid rgb(0,156,150);
  padding: 3px;
}

.table>tbody>tr.agent-detail td {
  text-align: center;
  font-size:1vw;
  background: white;
  border : 2px solid rgb(0,156,150);
  margin : 10px;
  width:16%;
}

.table>tbody>tr.agent-detail>td>table>tbody  tr.agents-table> td {
  border: none;
  text-align: left;
}
.counter-panel {
  background-color: rgb(138,203,197);
  border : 5px solid;
  border-color : rgb(0,156,150);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px
}
.agent-panel {
  background-color: rgb(138,203,197);
  border : 5px solid;
  border-color : rgb(0,156,150);
  margin-left: 10px;
  margin-right: 10px
}

.separator {
    margin-left: 100px;
    margin-right: 50px;
    padding: 15px;
}
.agents {
  font-size:1.5vw;
  border-spacing: 20px;
  border-collapse: separate;
  background : rgb(138,203,197);
  margin-bottom: 0px;
}
.all-groups {
  font-size:30px;
  border-spacing: 0px;
  border-collapse: separate;
  background : rgb(138,203,197);
  margin-bottom: 0px;
}
.agents>tr {
  background : white;
}

.agent-name {
  width: 50%;
  text-align: left;
  text-transform: uppercase;
}

