body {
    background-color: black;
    background-repeat:no-repeat;
    text-align: center;
}
.panelGlobal{
    background-color: #00b3ee;
    display: inline-block;
    padding: 10px;
}
.logo {
    vertical-align:center;
    align: center;
    max-height:100px;
    max-widht:200px;
}
.clock-display {
    margin-top: 20px;
    font-size:30px;
    color: white;
}
.summary-title {
    margin-bottom : 10px;
}
.mainTitle {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px;
    font-size:40px;
    color: white;
}

.group-name {
    text-align: center;
    font-size:30px;
}

.agents_table_header {
    background-color: orangered;
}

th{
    text-align: center;
}

.agents_table_priorities {
    background-color: orange !important;
}

.agents_table_agents {
    background-color: #ffddcf;
}

.even {
    background-color: #ffbca6 !important;
}

.counter-title {
    text-align: center;
    font-size:25px;
    margin-bottom: 10px;
}

.counter-value {
    text-align: center;
    font-size: 25px;
    background: red;
    border : 3px solid darkred;
    padding: 3px;
}

.group_panel {
    margin: auto;
    padding:5px;
}

.runColumn{
    border: solid #a0ff7b 5px;
    margin: 3px;
    padding: 5px;
}

.stat-group {
    display: inline-block;
}

.agents_table{
    font-size: 20px;
    color: black;
}

.agents_table_agents > td > .badge {
    color: white !important;
}

