.body {
    height: 100%;
  }
  
  .logo {
    vertical-align:center;
    align: center;
    max-height:70px;
    max-widht:50px;
    margin-left: 100px;
  }
  
  .clock-display {
    margin-top: 20px;
    line-height: 50px;
    color: rgb(34, 135, 175);
  }
  
  .summary-title {
    margin-bottom : 10px;
  }
  
  .mainTitle {
    margin-top: 20px;
    line-height: 50px;
    text-align: center;
    padding-bottom: 10px;
    font-size:20px;
    color: rgb(34, 135, 175);
  }
    
  .table>tbody>tr>td.queue-recap {
    border-top: 0px;
    width:30%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .table>tbody>tr>td.queue-recap-little {
    border-top: 0px;
    width:25%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .table>tbody>tr>td.queue-counter {
    border-top: 0px;
    width:15%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
    
  .queue-name {
    text-align: center;
    font-size:50px;
  }
    
  .separator {
    margin-left: 100px;
    margin-right: 50px;
    padding: 5px;
  }
    
  .counter-title {
    text-align: center;
    font-size:30px;
    vertical-align: middle;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .counter-title-little {
    text-align: center;
    font-size:30px;
    vertical-align: middle;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .counter-value {
    text-align: center;
    font-size: 200px;
    padding: 5px;
    height: 300px;
    line-height: 300px;
    font-weight: bold;
  }
  .counter-value-little {
    text-align: center;
    font-size: 100px;
    padding: 5px;
    height: 150px;
    line-height: 150px;
    font-weight: bold;
  }
  .counter-value-background {
    background: white;
  }
  .table {
    margin-bottom: 0px;
  }
  
  .counter-panel {
    margin-left: 100px;
    margin-right: 50px;
    padding: 10px;
  }
  
  .all-queues {
    font-size:30px;
    border-spacing: 0px;
    border-collapse: separate;
    margin-bottom: 0px;
  }
  
  
  
    