/* &panelColor=blue */
.background-blue-color {
    background-color: rgb(194,223,242);
  }
  
  .border-blue-color {
    border:5px solid rgb(57,169,220);
  }
  
  /* &panelColor=green */
  .background-green-color {
    background-color: rgb(138,203,197);
  }
  
  .border-green-color {
    border:5px solid rgb(0,156,150);
  }
  
  /* &panelColor=grey */
  .background-grey-color {
    background-color: rgb(236,237,237);
  }
  
  .border-grey-color {
    border:5px solid rgb(128,129,121);
  }
  
  /* &panelColor=pink */
  .background-pink-color {
    background-color: rgb(251,228,238);
  }
  
  .border-pink-color {
    border:5px solid rgb(244,181,208);
  }
  
  /* &panelColor=purple */
  .background-purple-color {
    background-color: rgb(200,175,209);
  }
  
  .border-purple-color {
    border:5px solid rgb(128,54,37);
  }
  
  /* &panelColor=orange */
  .background-orange-color {
    background-color: rgb(240,191,175);
  }
  
  .border-orange-color {
    border:5px solid rgb(217,81,69);
  }
  